[2021-05-18 18:54] carjug opened #1 "here's a note"

[2021-05-19 01:26] ninamak opened #2 "Epic: Migrate DB"
### Goal
Have data from Oracle db populating a new database owned by ACF

### Approach
**Determine strategy**

- Determine structure and content of Oracle DB
  - Understand the complexity involved based on the schema, what triggers exist, and what questions we need answers to
- Validate viability of db migration plan
  - Understand which path will work better and faster for us, given both the labo

[2021-05-19 01:35] ninamak opened #3 "Set up for spike on Oracle DB"
### Goals

- Get things set up to do the spike to determine the structure and content of the Oracle DB

### Tasks

- [x] Verify with vendor that access will be to a server that reflects production DB
- [x] Get access to Oracle DB
- [x] Get the lay of the land (timebox 8-16 hours)
- [x] Refine spike as needed

### Risks

- Vendor only gives us access to an Oracle server that doesn’t reflect product

[2021-05-19 01:46] ninamak opened #4 "Spike: Determine structure and content of Oracle DB"
### Goals

- Validate the structure of the data to understand what data is in the DB, what the schema is, and inform if we need to change the schema.
- Determine if there are any triggers (processes running inside the db, either event-based or schedule-based), which will inform the complexity of the migration.
- Get more familiar with Oracle db, figure out the unknown unknowns, learn by doing to b

[2021-05-19 02:02] ninamak opened #5 "Understand AWS and OCIO options"
### Goals

To be able to validate the db migration plan, we need to know which AWS to request access to and which OCIO to work with.  Specifically:

- Better understand which AWS environment (ACF or HHS) we'd prefer for validating db migration strategy (and later for building)
  - Confirm that HHS AWS exists
  - What are Sheila/Z’s concerns about ACF AWS?  Personnel?  Security?  Reliability?
  - D

[2021-05-19 02:22] ninamak opened #6 "Work with OCIO to get access to AWS"
### Goals

To be able to validate the migration plan, we need access to AWS.  Specifically:
- Carly needs to be able to log in herself (via CLI not just console), have API privileges, have permissions to spin up instances, change settings, etc.
- OCIO needs to set up a VPC for us, or allows Carly to (less likely)

### Tasks

- [ ] Prepare what we want OCIO to do
- [ ] Make case for why this is all

[2021-05-19 02:38] ninamak opened #7 "Validate whether AWS DMS works the way we need it to"
### Goals
- Determine if AWS DMS meets our needs
  - Proposed plan: GT allows our AWS environment to VPC peer into Oracle db. We set up and use AWS DMS (data migration service) to establish a connection between the two dbs and do the migration + translation into the new db.  There may be a need to use AWS SCT (Schema Conversion Tools), if stored procedures, triggers, other schema objects, etc. are

[2021-05-19 02:44] ninamak opened #8 "Interview stakeholders from Office of the Director"
### Goals
- Get up to speed on the conversations and thoughts that folks in the Office of the Director have had about "one MIS" (or their "Unicorn MIS") to have a better sense of whether we should consider broadening MAPS's scope to address any of their needs/objectives.

### Tasks
- [X] Ask Sheila who we should be talking to from Office of the Director for vision
- [X] Schedule 1:1s
- [x] Prep in

[2021-05-19 02:54] ninamak opened #9 "Epic: Define vision and roadmap"
### Goals
- Have a vision for what problems a rebuilt MAPS is expected to address and the impact it would have.
- Have a roadmap that breaks down how we will rebuild MAPS, with higher fidelity for the work we'll take on now and lower fidelity for the work that will come later.

### Approach
- Determine whether the scope of MAPS could/should be expanded to meet other unmet needs of the Office of th

[2021-05-19 03:01] ninamak opened #10 "Determine what to procure/provision from cloud.gov"
### Goals

- Help partner understand what cloud.gov is
- Better understand cloud.gov offerings
  - When to switch from prototyping org to production org?
  - Can you have multiple systems in one production org?
  - What is different about an enterprise account?
- Determine if it would be better to use an existing HHS org or procure/provision a new one
  - What cloud.gov orgs does HHS already have?

[2021-05-20 19:59] ninamak commented on #8
Reach out to Manny (Emanuel) on Monday to schedule interview

[2021-05-20 20:54] ninamak opened #11 "Preliminary milestone planning"
Map out what our module/encapsulation approach would look like vs a walking skeleton approach would look like.

Understand better how the walking skeleton approach eased the ATO process for FNS NAC

[2021-05-24 17:29] ninamak opened #12 "Foundational tech work"
Placeholder for the systems design, DevSecOps, and dev processes work.

*System Design*
- Decide on tech stack
- Determine API architecture
- Determine cloud hosting environment
- Determine new DB
- Determine file storage solution
- Plan for unanticipated software purchases

*DevSecOps*
- CI/CD pipeline for automated testing, scans, and deployment
- Git integrations with CI/CD pipeline
- Infrastru

[2021-05-24 17:48] ninamak opened #13 "Complete MAPS Inventory"

[2021-05-24 17:48] ninamak opened #14 "Document existing functionality"

[2021-05-24 17:48] ninamak opened #15 "Document desired new/improved functionality"

[2021-05-24 17:48] ninamak opened #16 "Prioritize functionality"

[2021-05-24 17:49] ninamak opened #17 "Document risks and mitigations"

[2021-05-24 17:49] ninamak opened #18 "Plan initial user engagement strategy"
### Goals
* Define how we plan to engage with users

### Tasks
- [x] Align on the goals, audience, and channels for a communication plan
- [x] Draft initial communication plan
- [x] Review plan with partner

### Additional Context
* [Comms plan](https://docs.google.com/document/d/1Z4v5Ruj8SA_RsIQHWkOkQ1M35DFD4Lxm4oUVyc25wx4/edit#heading=h.sge47eowuroy) (work in progress)

[2021-05-24 17:51] ninamak opened #19 "Determine feasibility of getting Jira access"
Randeep is going to talk to Ops team about getting access to Jira for program offices

[2021-05-24 17:54] ninamak opened #20 "Procurement-related things"

[2021-05-24 17:56] ninamak opened #21 "ID vendor work needed to support transition"

[2021-05-24 17:57] ninamak opened #22 "ID upcoming work on existing MAPS"
### Goals

Understand what work OPRE currently anticipates needing to support the existing MAPS system

### Tasks

- [ ] Discuss with Sheila

[2021-06-10 20:03] carjug opened #23 "Establish engineering team processes"
As an engineering team, we would like to have a shared understanding for how we will collaborate, what our coding standards and processes are, and who fulfills/shares what roles.

**Goals**
Establish how we will work together and decide on what our team standards and processes will be going forward (subject to iteration, as always)

**Tasks**

- [x] Document in `docs/how_we_work.md` agreed upon gi

[2021-06-10 20:20] carjug opened #24 "Decide on preferred application environment"
Decide on which cloud environment (cloud.gov, HHS AWS, ACF AWS) and document why.

Explain any differences between v0.1 v1.0 decisions

**Tasks**

- [ ] Document decision and reasons why

[2021-06-10 20:32] carjug opened #25 "Decide on a tech stack"
As engineers, before we can start building, we need to know what tech stack we'll be working in and why.

|    | Alex initial thoughts | Carly | Amy initial thoughts |
|---|------|------|------|
| Frontend | Use Django Template+HTML+USWDS <br/> Use JS as needed, start out with SSR <br/> (server-side rendering) | Depends on what the product needs to do. | Server-rendered HTML, like Django Template,

[2021-06-10 21:09] carjug opened #26 "Decide on tech services needed for version control"
As a team, we need to agree upon which technologies we will be using for version control.

Table for reference:

  | Carly | Amy | Alex
-- | -- | -- | --
Technology for version control | GitHub | GitHub | GitHub

**Tasks**

- [ ] Determine technology for version control and document with a lightweight decision record
- [ ] Create "procurement" and/or any implementation follow on tasks for version

[2021-06-10 21:25] carjug opened #27 "Create skeleton system architecture and diagram"
As a team, we need a rough outline for how our application will work so that we have a shared understanding and can divide up our work and plan the build of Unicorn accordingly.

At a level of detail suitable for team's own common understanding.

Pref to do this work collaboratively rather than async.

**Tasks**

- [x] Determine what diagramming software we want to use (OCIO may have a preference

[2021-06-10 21:42] carjug opened #28 "Determine initial authentication solution"
As a team, we'd like to know what v0.1 authentication solution we can use to secure our work while also not delaying other important feature work for Milestone 1.

**Tasks**

- [ ] Research authentication options and their tradeoffs
- [ ] Document initial authentication solution decision

[2021-06-10 21:46] carjug opened #29 "Begin OCIO intake process"
As a team, we don't want the OCIO to be surprised by what we're building and how we're building it, so that when it comes time to talk ATO they are well informed about our project.

**Tasks**

- [ ] Figure out time to meet with ISSO (Randeep) and others at OCIO to figure out what we need to do to start their intake process
- [ ] Create new cards/tasks as an output of the above meeting

[2021-06-14 18:45] carjug opened #30 "A note"

[2021-06-14 22:01] alexsoble commented on #23
We moved forward on this today! We held a facilitated exercise to discuss preferences & experiences with git & GitHub flows; coding standards & processes; and divvying up eng work. Notes are in the [running notes doc.](https://docs.google.com/document/d/1ZfdtFVgrXBwxWsH2ur_JtIcy5EslvlZYzqW2rPnZz-k/edit#)

**Next up:**

- Synthesize the results of our discussion into a v0.1 "Engineering team practi

[2021-06-15 20:41] carjug commented on #29
Met with ISSO, Randeep, today to discuss where to start the OCIO Intake Process for the build of MAPS 2.0. He pointed us to Alba Sierra at the OCIO on the Governance team, so I will reach out to her this afternoon to see if she can send us the intake form and then go from there. I'm also going to add tasks to this card if that's ok!

[2021-06-15 22:19] carjug commented on #26
@amymok @alexsoble do we think this is work we could do asynchronously? if so, we can perhaps start a doc with our thoughts there or capture our thoughts in the Running Notes doc? Just a thought. Trying to see how we can collaborate on these tasks while also being efficient with everyone's time :)

[2021-06-15 22:57] amymok commented on #26
That works! We can continue with what we were doing in the running notes for the team processes.

[2021-06-16 17:10] carjug opened #31 "Establish overall team processes"
As a team, we would like to have a shared understanding for how we will collaborate, what our norms and practices are, and who fulfills/shares what roles.

**Goals**
Establish how we will work together as a team (subject to iteration, as always)

**Tasks**

- [x] Set meeting cadences
- [x] Agree on relevant team-wide norms and preferences
- [x] If needed, further role clarification

[2021-06-16 17:16] carjug opened #32 "Decide where we'll document our technical decisions"
https://docs.google.com/document/d/1ZfdtFVgrXBwxWsH2ur_JtIcy5EslvlZYzqW2rPnZz-k/edit#heading=h.8aotax5ixndk

**Decision**
We will document technical decisions in GitHub source control. We will start with this 18F repository and then move to a HHS repository as we get access to one.

**Tasks**

- [x] Decide where we'll document technical decisions

[2021-06-16 17:27] ninamak opened #33 "Investigate cloud.gov organization sharing"
As engineers, we would like to know whether we will share a cloud.gov organization with OFA/TANF or have our own separately managed organization inside cloud.gov and what are the related security considerations and costs/benefits of both.

We want to know whether production data cans be adequately siloed so that TANF doesn't have access and admin privileges to OPRE data and vice versa.  We also wa

[2021-06-16 17:29] ninamak opened #34 "Document data migration options"
Document options for db migration and impacts that options might have on other tech choices (a lot of documentation already lives in GH)

Figure out if the AWS Data Migration Service is compatible with cloud.gov-brokered AWS

Determine where we will have the db(s), at least for v0.1, and what factors influence the v1 decision.

**Notes from Milestone doc**
* Milestone 1 will have db in cloud.gov
*

[2021-06-16 17:43] carjug opened #35 "Decide on code analysis tools"
We want to decide on code analysis tools that we can run on our code prior to merging and/or run periodically.  These tools would be automated to run when PR is created and merged.

| Type of Check | Alex | Carly | Amy |
|----------------|-----|------|------|
| Linter | Python: Flake8 | Python: Flake8 | Python: Flake8  JS: eslint?|
| Test Coverage | Code Climate Quality? | No opinion | CodeCov |

[2021-06-16 17:45] carjug opened #36 "Decide on security analysis tools"
We want to decide on security tools that we can integrate into our development and continuous integration processes.

| Type of Check | Alex | Carly | Amy |
|----------------|-----|------|------|
| Dependency scanning | [GitHub Dependabot](https://dependabot.com/) | Snyk, but open to hearing about others!  | Snyk |
| Static analysis for security | [GitHub CodeQL](https://securitylab.github.com/too

[2021-06-16 17:51] ninamak opened #37 "Update Unicorn Product Brief to share with Sheila"
https://docs.google.com/document/d/1e5h2M7n2fDhxjawVAlvXgGQypVLnaMKu0-Z42m5sUYg/edit#

Update with Unicorn scope & background

Update with refined vision (#102 )

Fill in red text

Clean up Milestones

[2021-06-16 17:51] carjug opened #38 "Setup S3"

[2021-06-16 17:52] carjug opened #39 "Migrate S3 documents from vendor AWS"

[2021-06-16 17:54] carjug opened #40 "Update the OCIO org chart"

[2021-06-16 17:56] carjug opened #41 "Understand the data sources for budget lines"
Budget line data is displayed in multiple places in MAPS.  We want to understand where the data is being pulled from to help us understand if there might be discrepancies and to ultimately inform how we want to pull/display budget line data in Unicorn.

**Places that budget line data appear in MAPS**
* All Budget grid
* Contracts page: 3 tabs at the bottom (Budget Lines, Pre-Award Tracking, Post-A

[2021-06-16 17:57] carjug opened #42 "Get MAPS DB documentation work to a good stopping point"
- [x] Get the database folder organized
- [x] Make sure all files in the folder is organized
- [x] Create an index on what documentation is available
- [x] Document what else is left to do that can be worked on later

[2021-06-16 17:58] carjug opened #43 "Propose strategy for developing with realistic-looking data pre-ATO"
The general rule of thumb is: no production data until you have an ATO.  So as we're building Unicorn, how do we do work and develop the solution pre-ATO, and have confidence in the solution?

We do have dummy data from the development server.

Given that the database migration is one of the key things we want to de-risk, how would we do this?
* Do it on the development server.  BUT we wouldn't be

[2021-06-17 10:15] ninamak opened #44 "Write user stories for Unicorn data set #1"
### Goals
- Understand in more detail when and why OPRE staff are looking at budget data
- Begin developing a data model to meet their needs
- Prototype the model to test it out

[2021-06-17 10:15] ninamak opened #45 "Inventory all report-like functionality"

[2021-06-17 10:16] ninamak opened #46 "Inventory system functionality"

[2021-06-17 11:05] ninamak opened #47 "Present at 6/23 PB Weekly Jam"
The OPRE teams are slated to share something about their projects for June 23 PB Jam—Is someone from the teams available to share something? We try to make this lightweight, no formal presentation necessary!

We recommend about ~10 mins of sharing, on roughly the following topics, followed by ~15-20 mins for questions/discussion:
• Just enough context to help someone new to the space understand th

[2021-06-21 17:34] ninamak commented on #47
Exploring if we can push this out by 2-3 weeks

[2021-06-21 17:40] carjug commented on #32
We decided to use GitHub source control to document our technical decisions.

[2021-06-21 17:52] alexsoble commented on #26
[Async discussion in the running notes.](https://docs.google.com/document/d/1ZfdtFVgrXBwxWsH2ur_JtIcy5EslvlZYzqW2rPnZz-k/edit#heading=h.fv8f0cbosyo9)

[2021-06-21 17:58] alexsoble commented on #26
This will be an early ADR!

@carjug @amymok and I will pair on this together, and tag in @ninamak for review as part of a "bundle" of early ADRs.

:oneteamonedream:

[2021-06-21 18:45] ninamak commented on #31
### Meeting cadences proposal

**Monday (Week A)**
* 1-2pm ET / 10-11am PT: Sprint Demo (demo completed work and get feedback)
* 2-3pm ET / 11am-12pm PT: Break (add/update cards based on feedback, take a break, get lunch, go to eng mtgs)
* 3-4pm ET / 12-1pm PT: Project Health (discuss how project is going)
* 4-5pm ET / 1-2pm PT: Planning with Sheila (plan sprint's work, incorporate feedback from D

[2021-06-21 18:48] ninamak commented on #31
@alexsoble @carjug Did y'all make progress on synthesizing the WINFY activity?  I lost track in Slack of how far y'all got last week on "Agree on relevant team-wide norms and preferences."

[2021-06-21 18:49] carjug commented on #31
@ninamak Alex made good progress on it before I could even get started! He's quick. https://docs.google.com/document/d/1fhBdfXHUNmfP2hsXO3bcWT8fefDaJjv-gFgjQ25Rv48/edit#

[2021-06-21 21:47] carjug commented on #29
Given that we have yet to receive a response from Alba, I asked Sheila to follow up with them and she said she will do so tomorrow :)

[2021-06-21 21:56] ninamak commented on #31
Discussed idea of implementing a Tech Lead role for our team in 1:1s last week.

**Next step:** Discuss as a team what we'd expect a Tech Lead to be responsible for.

This is unlikely to happen this week before people start heading out (and there will be fewer people to coordinate while people are out), so we will likely pick this back up after July 4.  Eng may have more guidance for us by that po

[2021-06-21 22:00] carjug commented on #31
@ninamak
My personal responses to your questions for the team

1. I'd normally schedule Retro on Week A, but calendars make this difficult. How would you feel about rolling Retro and Project Health together? Would that provide enough time?
- I am fine to try rolling Project Health and Retro into one, although I have a gut instinct that says that as this project gets more into a build cadence an ho

[2021-06-21 22:02] carjug commented on #25
@amymok @alexsoble I'm pulling this into "In Progress" since Amy mentioned she's started looking into some of the options here already 😄

[2021-06-21 22:04] carjug commented on #26
The goal is to have this moved into "In Review" by EOD tomorrow :)

[2021-06-21 22:04] amymok commented on #25
I am adding a few links here, mostly for backend, comparing Django, Flask, and FastAPI:

https://www.section.io/engineering-education/choosing-between-django-flask-and-fastapi/
https://ahmed-nafies.medium.com/why-did-we-choose-fast-api-over-flask-and-django-for-our-restful-micro-services-77589534c036
https://www.reddit.com/r/django/comments/jfuk6d/django_rest_framework_vs_fastapistarlette/
https:/

[2021-06-21 22:05] carjug commented on #25
@amymok @alexsoble Anyone feel particularly strongly about being the "assignee" here? It could be any one of us, IMO.

[2021-06-21 22:06] carjug commented on #29
Moved to Blocked until we get a response back from OCIO

[2021-06-21 22:14] amymok commented on #25
Have your pick!

[2021-06-21 22:15] carjug commented on #25
@amymok I'll assign you since you're not ~technically ~ on the board yet :)

[2021-06-21 22:19] alexsoble commented on #23
Translated our document into Markdown; opened a PR (our first into this repo?!) adding this to the GitHub docs: https://github.com/18F/OPRE-MAPS/pull/48. Requested reviews.

Last week we thought this would go into GitHub wiki, but in coworking today we went with GitHub source control.

Will move the associated card into "In Review."

[2021-06-21 22:32] alexsoble commented on #31
@carjug Oops, apologies if WINFY synthesis was something you wanted to take the lead on! Appreciate your review and edits!

[2021-06-21 22:35] alexsoble commented on #31
@ninamak — Thanks so much for putting together the meeting cadences proposal!

1A. I don't feel strongly about this one, we could try either way and see how it feels!

2A. As a starting point, we could try booking the first hour of one of the holds as eng team coworking. Then we can see if we end up needing more or less dedicated eng team coworking time per week.

3A. We can start with these holds

[2021-06-22 04:59] amymok commented on #31
I don't have any preference, but it feels like we do have a lot to discuss for each topic, so 1 hour for that may not work.  Maybe 1.5 hour if schedule works (if we want to do it together)

Looks like we have potentially three co-working times.  If we plan to use all three, we can at least use one for engineering cowork as a start.  I would prefer more than 1 hour block for the engineering cowork.

[2021-06-22 05:21] amymok commented on #25
Add a few more notes, this one is for Django/frontend framework like React.js
https://thenewstack.io/djangos-place-in-a-web-development-world-ruled-by-react/
https://www.quora.com/What-are-the-benefits-of-using-react-js-with-Django

[2021-06-22 13:53] alexsoble opened #50 "Add an open-source LICENSE file"
Default 18F open source licence is CC0.

Default license can be found here:

https://github.com/18F/open-source-policy/blob/master/LICENSE.md

[2021-06-22 13:55] alexsoble opened #51 "[2] Add a .gitignore file"
This is an important step to secure our open-source work against accidental secrets or data leakage.

The exact .gitignore file we choose will depend on our tech stack.

[2021-06-22 14:02] alexsoble opened #52 "Add a .gitattributes file"
In 18F projects, we sometimes run into issues when government partners download a repo and track changes using git on Windows machines. Different operating systems have different ways of handling line endings, which can create compatibility issues when team members use git to track changes using different operating systems.

Adding a `.gitattributes` file from the beginning can help prevent these

[2021-06-22 14:05] alexsoble opened #53 "Add a project README file"
A starter README as we get started with the project!

[2021-06-22 14:29] alexsoble commented on #23
Created a folder for our ADRS (Architecture Decision Records), added the ADR template, and created skeleton ADRs for the Milestone 0 decisions in our Roadmap: https://github.com/18F/OPRE-MAPS/pull/49

[2021-06-22 15:25] alexsoble opened #54 "Determine if & how we should attend current MAPS IPT meetings as a team"

[2021-06-22 16:33] amymok commented on #25
Some on separating backend and frontend:
https://www.forbes.com/sites/forbestechcouncil/2018/07/19/seven-reasons-why-a-websites-front-end-and-back-end-should-be-kept-separate/?sh=792b2c1e4fca
https://opensenselabs.com/blog/articles/frontend-backend
https://dev.to/ama/to-separate-or-not-to-separate-frontend-and-backend-3nk9
https://www.quora.com/Why-does-it-make-sense-to-separate-front-end-from-bac

[2021-06-22 19:04] ninamak commented on #47
This is getting postponed.  I'm closing this out and will create a new card once we have a new date.

[2021-06-22 19:04] #47 closed

[2021-06-22 19:16] ninamak commented on #41
@amymok I updated this card with work that I would find useful.  Is there anything you'd add to this scope?

If this ends up being approximately the scope, I'm thinking we should bring this into the cycle since you've already started it, and focus on closing it out.  Which largely means moving the documentation out of Slack (maybe you've done that already?), and checking the Grant, IAA, and Direct

[2021-06-22 20:10] alexsoble commented on #23
Woohooo! Now that https://github.com/18F/OPRE-MAPS/issues/23 is merged, I think the following tasks are complete to a first-order approximation:

- [x] Document in `docs/how_we_work.md` agreed upon git/github practices
- [x] Document in `docs/how_we_work.md` coding standards & processes

There may be a bit more to do on this remaining task:

- [ ] Document in `docs/how_we_work.md` eng team roles a

[2021-06-22 22:27] alexsoble commented on #26
We are discussing GitHub vs. GitHub Enterprise and are curious which one HHS is using — @carjug will ask our contact at HHS when she emails him.

If GitHub Enterprise, the version being used would determine what features are / are not available.

[2021-06-22 22:55] alexsoble commented on #26
During eng coworking we decided to split this into two issues — one for version control and one for continuous integration.

Will rename this card to refer to version control services and make a new card for continuous integration services.

[2021-06-22 22:58] alexsoble opened #55 "Decide on tech services needed for continuous integration"
As a team, we need to agree upon which technologies we will be using for CI/CD.

Table for reference:

  | Carly | Amy | Alex
-- | -- | -- | --
Technology for CI/CD | CircleCI | CircleCI, What about GitHub Action? | CircleCI

**Tasks**

- [ ] Determine technology for CI/CD and document with a lightweight decision record
- [ ] Create "procurement" and/or any implementation follow on tasks

[2021-06-22 23:02] alexsoble commented on #26
Scoped this down to just version control and split off CI/CD into its own ticket: https://github.com/18F/OPRE-MAPS/issues/55.

[2021-06-22 23:14] alexsoble commented on #26
[closed and re-opened by accident!]

[2021-06-23 00:14] amymok commented on #25
We probably want this space to also include database choice in this issue.  @carjug @alexsoble thoughts?

[2021-06-23 02:11] amymok commented on #23
That sounds good to me!

[2021-06-23 02:30] amymok commented on #41
@ninamak, the detail you added is very helpful.  Right now the work is mostly in my notes, and the summary is on Slack.  I only focused on the 3 tabs.  I am thinking we may want to document this along side the [Database folder](https://drive.google.com/drive/folders/1stDcnEyB9bnYh4V_0CXeS7-P9V5sxfEL).  Maybe I will start a MAPS 1.0 Documentation folder and move the database in this folder and add

[2021-06-23 13:23] alexsoble commented on #23
@amymok Great, I'll do that! 👍

[2021-06-23 13:25] alexsoble opened #56 "Establish eng team roles"
As an engineering team, we would like to have a shared understanding for who fulfills/shares what roles.

**Notes**

Broke out this card from the larger eng team processes card, #23.

**Tasks**

+ [x] Evaluate & discuss implementing a tech lead role
+ [x] Evaluate & discuss other eng team roles needed for the project
+ [x] Document our decisions

[2021-06-23 13:33] alexsoble commented on #25
@amymok: Sure, let's include DB choice in this! One reference point on the database choice: https://engineering.18f.gov/datastore-selection/. Looks like Postgres is a TTS/18F team default.

@amymok Do you have any initial opinions about what tech stack we might choose based on the articles you shared?

[2021-06-23 13:57] ninamak commented on #41
@amymok That plan sounds good to me!  Thank you!

[2021-06-23 13:59] ninamak commented on #56
@alexsoble What are you seeing as the blockers here?  Outages?  Waiting on the work the Eng chapter is doing on this topic?  Something else?

[2021-06-23 14:03] alexsoble commented on #56
@ninamak Outages — just channeling what you wrote here! https://github.com/18F/OPRE-MAPS/issues/31#issuecomment-865370725

We could pick the discussion up after July 4.

And as you note — eng may have more guidance for us by that point, too!

[2021-06-23 14:09] ninamak commented on #56
Got it, thanks!  Was just wondering if anything else had been raised.  So I'm going to remove the tech lead convo from the scope of #31 since it's covered here.

[2021-06-23 14:10] ninamak commented on #31
The Tech Lead role piece is now captured by [#56](https://github.com/18F/OPRE-MAPS/issues/56)

[2021-06-23 14:39] ninamak commented on #25
I am the least knowledgeable person on the team about this stuff, so my thoughts here don't count for very much.  But I can provide a little more context about what I'm envisioning for the product in case it impacts your decisions.

1. I envision that real-time data exploration/manipulation/visualization will be a key aspect of this system, and when I built a similarly-featured tool before, we did

[2021-06-23 14:57] ninamak commented on #8
Interviews completed.  Shared high-level takeaways with Sheila:

- It does seem like MAPS could be expanded to be a more holistic project administration system (project catalogue, workforce planning, contract management, budget management, invoicing)
- Everyone seems to be in agreement that this added functionality is not more important than replacing existing functionality
- The key will be getti

[2021-06-23 14:57] #8 closed

[2021-06-23 14:59] ninamak commented on #3
@carjug I'm cleaning up our GH Board and found this card on our old sprint board.  Since this has been part of our Milestone 0, I'm adding it to our board there and marking it as "In Review" so you can determine if it's ready to be closed or if anything additional is needed.

[2021-06-23 15:02] #22 closed

[2021-06-23 15:07] ninamak commented on #10
New cards generated from here: #24 and #33

[2021-06-23 15:07] #10 closed

[2021-06-23 15:09] alexsoble commented on #25
Oooooh, thank you for surfacing these @ninamak!

On (1), I would love to dig in more together on the real-time data exploration. Do we envision the system will be receiving new data every second or every minute? Maybe every hour or every day? We should talk about this — I want to understand the needs better. I would also love to see any examples (screenshots or ideally URLs if possible?) of prior

[2021-06-23 15:09] #11 closed

[2021-06-23 15:20] ninamak commented on #25
Yeah, can definitely share screen shots, if I can dig them up from my archives :). And "real-time" was the wrong phrase choice.  I meant more "instantaneous interaction" with the data.  We haven't discussed "freshness" of the data yet.

[2021-06-23 16:04] alexsoble commented on #25
@ninamak That makes sense! You're 100% right that instantaneous interaction is a good use case for a framework like React or Angular. I would be interested in digging into where those features come into play in our product roadmap & milestones, to help us decide if we need a framework like React from day 1 of development, sometime before 1.0, or sometime after 1.0.

[2021-06-23 17:04] amymok commented on #25
@alexsoble What would be the effort like to start with Django as a monolith, and then separate it to both backend with Django, and frontend with React or other frontend framework?

[2021-06-23 17:58] amymok commented on #25
My initial thoughts on the backend here:

Backend: Python/Django

Python:
- Ranked as one of the most loved and wanted language in [2020 StackOverflow survey](https://insights.stackoverflow.com/survey/2020#technology-most-loved-dreaded-and-wanted-languages-loved)
- Easy to learn and well structured, which makes it easy to onboard new developers even if they have not used Python before.
- On the ri

[2021-06-23 18:16] #24 closed

[2021-06-23 18:16] #26 closed

[2021-06-23 18:22] carjug commented on #3
Ok, thank you, Nina! I think it can be moved to done given that we got access and Amy has been able to dive deeply into the DB.

[2021-06-23 20:01] alexsoble commented on #53
👋 Just noting that if the eng team runs out of work or is blocked while I'm OOO and wants to pick up more cards, this could be a great one!

[2021-06-23 20:01] alexsoble commented on #51
Blocked by #25.

[2021-06-23 20:01] alexsoble commented on #50
👋 Just noting that if the eng team runs out of work or is blocked while I'm OOO and wants to pick up more cards, this could be a great one!

[2021-06-23 20:01] alexsoble commented on #52
👋 Just noting that if the eng team runs out of work or is blocked while I'm OOO and wants to pick up more cards, this could be a great one! We could re-use a `.gitattributes` file from another project.

[2021-06-23 20:02] alexsoble commented on #40
👋 Just noting that if the eng team runs out of work or is blocked while I'm OOO and wants to pick up more cards, this could be a great one!

Would be super helpful to get more info on the OCIO org chart // structure. One idea would be to ask for an official OCIO org chart; we could start by asking Randeep.

[2021-06-23 21:37] ninamak commented on #31
Ok, I think I've got something worked out here.  Moving Retro to Week A along with Project Health, but expanding to 1.5 hrs, with a break in between and after.  So it'll be a heavy meeting day, but I'm hoping we can make it fun team time and not stressful meeting time.  And the alternating week is much lighter.

I also scheduled Week A's to not coincide with the weeks when Eng Leadership is meetin

[2021-06-23 23:15] carjug commented on #31
@ninamak Thank you for sorting calendars and proposing the schedule! This all sounds good to me.

[2021-06-23 23:23] carjug commented on #55
This is blocked by needing to hear from the HHS OCIO what version of GitHub they use.

[2021-06-24 02:34] amymok commented on #25
My Initial thoughts on the frontend and coupling/decoupling front/backend:

This one I am not quite ready to pick a choice yet, here are some questions I have:

- Is there a need to use the application as a service or not, i.e. using most functionality as a web application by itself vs. having an API available for other applications?
- Will the user need a highly interactive interface?
- How likel

[2021-06-24 04:22] amymok commented on #25
Database:

My preference would be an open source relational database, either Postgres or MySQL.

Relational database makes sense (compares to noSQL database) for this application because:
- the data is very organized and have high structures
- Data needs to be searched with complex queries
- models do not change too much, they have roughly the same structures all the time
- Data consistency and ac

[2021-06-24 23:14] amymok commented on #34
Some thoughts I have on Data Migration Options:

The current database is an Oracle database in vendor’s AWS, we need to move the database under ACF environment and convert it to an  open source database (possibly Postgres Database, and I will use Postgres throughout this comment).  This work will include:
- Schema Migration
- Schema Transformation
- Data Migration
- Data Transformation
- Data Sync

[2021-06-24 23:22] carjug commented on #25
My initial thoughts on the tech stack

**Overall**

Overall I agree with @alexsoble that we should follow a monorepo pattern for this application so as to avoid the complexity of needing to deploy/maintain two separate services/repositories. I think this will ease maintainability in the long run to have all the code in one place and deployed from one place.

**Front end**

My opinions on where to

[2021-06-24 23:23] carjug commented on #25
GIven that all of our remarks are here now, I will move the related ticket into "In Review" now.

[2021-06-25 17:11] ninamak commented on #25
Leaving a few additional thoughts/perspectives in case they're helpful to you in making the front-end decisions (and to double-check that i've shared what's in my brain with y'all):

* I'd like us to think about what we think the vendor will mostly be needing to use.  One of our goals is to lay a technical foundation for the vendor, and if they're going to have to swap out the front end to deliver

[2021-06-25 17:23] carjug commented on #25
Lol I love that putting # + 1 linked to our first ever card here 😂

[2021-06-25 17:40] ninamak commented on #25
D'oh!  Fixed it

[2021-06-25 17:51] amymok commented on #25
It depends what "Instantaneous interaction" mean here.  Like a lot of user interfaces, require a submit button clicked after certain selection is made, does that mean instantaneous?  Or are we talking about it is important that after selection is made, things will change, no submit button is wanted.

I would expect the former is fine?

[2021-06-25 18:29] ninamak opened #57 "Get Sheila access to this GH Repo"

[2021-06-25 19:15] ninamak commented on #34
@amymok @carjug  Can we also verify that the tools/services you want to use will be compatible with the Oracle12 DB (even though it will no longer be supported by AWS after 3/22)?

[2021-06-25 19:47] ninamak commented on #29
We got the Intake Form.  Sheila would like to hear about Alex's experience when he returns.  Sheila would also like us to discuss OCIO engagement strategy & timing with Naomi/Emily/Bethanne.  Updating the card with that task and moving it off this cycle since we won't be having those conversations this cycle.

[2021-06-26 01:47] amymok commented on #41
Moved [Database folder](https://drive.google.com/drive/folders/1stDcnEyB9bnYh4V_0CXeS7-P9V5sxfEL?usp=sharing) in [MAPS 1.0 Documentation folder](https://drive.google.com/drive/folders/1QtoBkqqEKSkrMS9AiqTXEUzRNlHjP6Wn).

Pulled out conversation about contracts page 3 tabs in the [Data Sources for Budget Lines doc](https://docs.google.com/document/d/1I9JMAaGXxpD8bII1zevTvv8u60z4zDfvu4-0_zjZuo8/edit

[2021-06-27 16:40] carjug commented on #33
Documentation on roles and permissions in cloud.gov spaces

- https://cloud.gov/docs/orgs-spaces/roles/

Types of roles:
`OrgManager` - Invite and manage users, select and change plans, and set spending limits
`BillingManager` - Create and manage the billing account and payment info
`OrgAuditor` - Read-only access to org info and reports

`SpaceManager` - Invite and manage users, and enable featur

[2021-06-28 19:41] carjug commented on #34
@amymok Everything in your comment makes sense to me.

The only thing I have to add to is what was put in the original issue:

In our discussions with Mark Headd, when we talked about using the AWS data migration service, it sounded like going from the vendor's AWS Oracle -> HHS/AWS AWS Postgres and then having the cloud.gov application connect to the AWS Postgres DB would be the simplest path for

[2021-06-28 21:55] amymok commented on #42
Everything is organized in [Database folder](https://drive.google.com/drive/folders/1stDcnEyB9bnYh4V_0CXeS7-P9V5sxfEL).

The index on how to use the folder and other associated working files are documented in [Database Analysis Doc](https://docs.google.com/document/d/1CpGxd4Ptx6m_9Lnm9SmfIFMyaC-9jw8P8um28YC1_s4/edit#)

A todo list is also added in this document when we have time and need to unders

[2021-06-28 22:05] amymok commented on #34
@carjug Thanks for calling that out.  Yes, that's correct.  I probably was doing it too implicitly under the last part:

We would need to decide what we want to do with the database we moved over, do we want to start a new set of schema and database for Unicorn vs, can we even use the database as-is.  We would need to decide that path: a new database separated from the copy/conversion of the vendo

[2021-06-28 22:44] amymok commented on #27
Potential diagram tools:

- TANF: [Draw.io](https://app.diagrams.net/)
  - Pros: feature-rich diagram tool; can use different icons (i.e. AWS icons) to create easy-to-read diagram; it can
  - Cons: It is not diagram-as-code; exporting to XML does not show the structure of the diagram
- HeadStart TTADP: [C4 variant of PlantUML](https://github.com/RicardoNiepel/C4-PlantUML)
  - Pros: Diagram as code

[2021-06-28 22:51] carjug commented on #33
This comment addresses the third task:

As stated in my above comment, there would need to be at least one account in the shared cloud.gov Organization that had access to every Space in the Organization. The security risk this presents is that there would be one additional user/account with access to production data in _both_ applications, in a siloed situation wherein OPRE and TANF were separate,

[2021-06-28 23:33] carjug commented on #33
WIP This comment addresses the fourth task:
** still need to find out the current average GB usage for the TANF application so we can get some more solid estimates.

According to [cloud.gov documentation](https://cloud.gov/pricing/), a FISMA Moderate system costs $9300 / month plus $130 / GB memory per month

**Shared scenario**:
Both TANF and UNICORN are/will be FISMA Moderate systems, which mean

[2021-06-29 15:34] carjug commented on #57
@smcnu82 can you see this comment?

[2021-06-29 15:43] smcnu82 commented on #57
Don’t know where to look for it

Thanks,

Sheila Celentano

From: Carly Jugler ***@***.***>
Sent: Tuesday, June 29, 2021 11:34 AM
To: 18F/OPRE-Unicorn ***@***.***>
Cc: Celentano, Sheila (ACF) ***@***.***>; Mention ***@***.***>
Subject: Re: [18F/OPRE-Unicorn] Get Sheila access to this GH Repo (#57)

@smcnu82<https://github.com/smcnu82> can you see this comment?

—
You are receiving this because you

[2021-06-29 16:05] carjug commented on #57
In the email, at the bottom, you should see a link that says "view it on
GitHub", click that link and let me know if you're able to see the comment
on GitHub by replying there :)

On Tue, Jun 29, 2021 at 9:44 AM smcnu82 ***@***.***> wrote:

--
Carly Jugler
Consulting Engineer
18F <https://18f.gsa.gov/> | GSA <http://www.gsa.gov/>
***@***.***
C: 213.479.5692
Pronouns: she/her
Time Zone: PST

[2021-06-29 16:26] smcnu82 commented on #57
now I see it!  :-)

[2021-06-29 16:29] carjug commented on #57
yayyy! you officially have access to our GitHub. I can now close out this ticket.

[2021-06-29 16:29] #57 closed

[2021-06-29 16:30] #3 closed

[2021-06-29 16:30] #32 closed

[2021-06-29 16:30] #23 closed

[2021-06-29 23:20] amymok commented on #34
Data migration will be a big effort.  There are still a lot of unknowns and tasks that involve with this work.  We should perform a few tasks to help us understand the scale and need for this effort:

- ### Path 1: Using AWS Database Migration Service
  - **_Request access and permission to ACF/HHS AWS_**
    - Identify services we need to use for database migration from AWS documentation
    - In

[2021-06-30 23:07] carjug commented on #33
Sharing the draft memo
https://docs.google.com/document/d/1qR4CoOLxBeFUoBzwxHF2y_xIV0YeQOzPJD7oVU1tUjQ/edit#

[2021-07-01 15:44] carjug commented on #34
@amymok the issues and tasks look good to me! the only thing I might add is that maybe we can try all of the db migration stuff in the tts sandbox first, before we make our request to acf ocio, because that may allow us more information about what exactly we'll be doing and what we'll need from them.

[2021-07-01 17:55] carjug commented on #27
The completion of this task won't be "Done" until next week when all the engineers can get together and create the diagram collaboratively, but we will get started on initial investigation and leaving thoughts/comments this week.

[2021-07-01 18:37] amymok commented on #25
@alexsoble will work on the ADR for the backend selection.

We will need to have a group discussion with the whole team to understand the features needed for Unicorn before we do a frontend selection.

[2021-07-01 19:48] amymok commented on #34
Yes, I am actually more comfortable with because then we will be more informed.  I think I put the ask at the beginning just in case we will not get access, we don't need to work on the AWS tasks since they are no longer relevant.

With this change, the ordering for the tasks in Path 1 is as follow:
- Perform test runs with a sample database within the same VPC in AWS
- Perform test runs with a sa

[2021-07-02 17:29] carjug commented on #33
The draft memo has been sent to @smcnu82 , but she is out for the long weekend today, so we will pick this back up next cycle/week.

[2021-07-02 19:24] alexsoble commented on #25
Back-end decision ADR ready for review: https://github.com/18F/OPRE-Unicorn/pull/59#issuecomment-873213928

[2021-07-02 21:37] carjug commented on #27
My initial attempts to capture what we currently know about our system's architecture. Let's definitely iterate on this together and do some live pairing! I think that will yield more fruitful results, because I definitely had big questions in my mind about how we should document our database/migration, etc.

![Start of a Diagram](https://user-images.githubusercontent.com/10871517/124330805-65177b

[2021-07-06 17:28] ninamak opened #60 "Discuss ATO strategy with Sheila"
### Goals
* Determine when we will begin the OCIO intake process

### Tasks
- [x] [started] Provide Sheila background on 18F's approach to ATOs, within ACF and across agencies
- [x] Identify questions Naomi and Emily may be interested in
- [x] Determine when to brief Naomi and Emily (at next brief out or one-off)

[2021-07-06 19:03] ninamak opened #61 "Determine if DB testing can be done in TTS sandbox"

[2021-07-06 19:03] ninamak opened #62 "Discuss ATO strategy"

[2021-07-06 19:03] ninamak opened #63 "Create tasks for DB migration"

[2021-07-06 19:45] ninamak commented on #25
To help further the discussion about front-end frameworks:
Nina to share some reporting UIs with the team
Nina to send Alex links to demos of MAPS 1.0
Alex to send Sheila links to blog posts referenced above.

[2021-07-06 19:47] ninamak commented on #27
Next steps:

- [ ] Eng co-work to collaborate on this diagram

[2021-07-06 20:05] ninamak opened #64 "Discuss impact that agreement will have on our strategy and roadmap"
**Goals**
* Determine whether any changes to our plans are needed to accommodate changes in how funds will be allocated to agreements

**Tasks**
- [x] Nina to stay in sync with Elie and Sheila about options for agreements
- [x] Nina to consult with team on options and impacts
- [x] Meet with Sheila to discuss options
- [x] Understand Naomi's preferences
- [x] Determine if any changes are needed

[2021-07-06 22:20] alexsoble commented on #31
One important team process I'd like to discuss and decide on as part of this work:

What are our processes/expectations for PM/PO review of PRs? (Hehehehe, PM, PO, PR!)

As an engineering team, we [established](https://github.com/18F/OPRE-Unicorn/blob/main/docs/how_we_work.md) that we want at least one other engineer reviewing and approving PRs before they merge.

For different categories of PR — 

[2021-07-07 20:24] amymok commented on #41
@ninamak Please take a look at the [Data Sources doc](https://docs.google.com/document/d/1I9JMAaGXxpD8bII1zevTvv8u60z4zDfvu4-0_zjZuo8/edit#), and let me know if you have any questions on any of them.

[2021-07-08 16:25] ninamak commented on #42
@amymok Is there anything you're waiting on to be able to mark this as done?

[2021-07-08 16:28] ninamak commented on #34
@amymok Looks like the next step would be to turn these notes and decisions into a rough map of the different phases and create associated cards.  Want to meet Fri afternoon to start doing this?

[2021-07-08 16:45] amymok commented on #42
Nope! I will move it to done!

[2021-07-08 16:47] amymok commented on #34
@ninamak Sure!

[2021-07-08 19:09] carjug commented on #25
Coming back to this next week after Alex has become more familiarized with the current MAPS product.

[2021-07-08 21:00] amymok commented on #35
@carjug @alexsoble I put a table here so we can put our thoughts in.  Feel free to add more if you think there are more we need that I didn't put here.

[2021-07-08 21:12] ninamak commented on #60
Mtg to discuss with Sheila scheduled for 7/9

[2021-07-08 21:29] ninamak commented on #64
Mtg scheduled with Sheila 7/9

[2021-07-08 21:31] ninamak commented on #25
@alexsoble Assigning this one to you so you can let us know when you're ready to pick back up discussion of this (once you get more familiarized with current MAPS).

[2021-07-08 22:00] alexsoble commented on #25
@ninamak 👍 👍 Thank you, sounds perfect!

[2021-07-08 22:07] carjug commented on #33
Still waiting on feedback from Sheila w/r/t this memo. She had verbally stated that it looked good, so will confirm with her tomorrow what she thinks next steps are.

[2021-07-08 22:12] ninamak commented on #41
@amymok Thank you!  This looks good to me.  I left one comment on the doc, to see if it's worth digging into the sources of the AllBudget view.

[2021-07-08 22:22] ninamak opened #67 "Set up speed feedback sessions"
### Goals
* To establish a forum that allows teammates to give and receive feedback to each other on a regular basis.

### Tasks

- [ ] Determine cadence and format for speed feedback sessions
- [ ] Send calendar invites

### Preferences
| | Nina | Carly | Amy | Alex |
|--|--|--|--|--|
| Format | Agree, Amy's questions look good to me! | Love Amy's Qs | A few questions like these:<ul><li>What do I

[2021-07-08 22:23] amymok commented on #35
Based on TTS recommendations from [Tools](https://engineering.18f.gov/integrations/) and [Project Setup](https://engineering.18f.gov/project-setup/)

[2021-07-08 22:25] carjug opened #68 "Decide on tool for document storage and create ADR for it"

[2021-07-08 22:30] carjug commented on #61
In my initial investigation into this, it appears that our default permissions, as developers in the TTS Sandbox do not allow us to have full autonomy over creating all of the necessary resources associated with a AWS DMS migration. This means that we need to ask for these specific permissions from TTS IT services and then see what they say and go from there.

<img width="286" alt="Screen Shot 202

[2021-07-08 22:58] alexsoble commented on #35
@amymok Thanks so much for getting this started!

[2021-07-08 23:23] alexsoble commented on #35
Put some initial thoughts in the table, but none of these are too strongly held. Also added separate rows for "Security (dependency scanning)" and "Security (static analysis)" since these can be different tools.

Notes:

**Test Coverage + Static Analysis**

* I found this "[Two Wishes for Dev Tooling](https://macwright.com/2021/07/05/two-wishes-for-dev-tooling.html)" essay interesting and persuasi

[2021-07-08 23:33] carjug commented on #35
Here's a link to OWASP Zap if we're interested in exploring for security automation: https://www.zaproxy.org/

[2021-07-08 23:34] alexsoble commented on #35
Oooooooh yes good catch @carjug! OWASP Zap!

[2021-07-08 23:36] alexsoble commented on #35
I would kind of put it in https://github.com/18F/OPRE-Unicorn/issues/36 though, "Decide on security analysis tools". The dependency scanning decision should probably go there too.

Static code analysis for security is both code analysis and security analysis, so could go in either category/Issue.

[2021-07-09 01:20] smcnu82 commented on #33
Want to discuss with my management, but needed to prioritize other items this week due to procurement deadlines.  WIll schedule time to review after the meeting on 7/9.  Need to be able to frame the list of decision I need from them, so we can reduce the number of mtgs required

[2021-07-09 16:43] alexsoble commented on #31
Looking ahead on the calendar, I'm seeing a dense block of meetings (both @amymok and I have eng leadership in addition to the project meetings):

![Screen Shot 2021-07-09 at 9 33 22 AM](https://user-images.githubusercontent.com/3209501/125110005-ecf40d00-e098-11eb-9249-31537c0da2f9.png)

A couple of questions:

1. Since at this point we're writing documentation about initial choices rather than b

[2021-07-09 16:57] carjug commented on #31
In addition to @alexsoble's above questions, I also wanted to state a preference for not having co-working blocks that are longer than two hours. This week I've found that even with breaks I start to lose significant steam and interest in the topics at hand near the two hour mark.

[2021-07-09 16:57] ninamak commented on #31
Ugh.  Our big block of meetings was originally scheduled to alternate with the weeks when Eng Leadership meetings were happening.  Either I messed that up, or the Eng Leadership mtg schedule changed.

In the original thread, people were concerned that 1 hr for retro + project health combined wouldn't be enough, which is why there are now 2 40-minute blocks.  However, I agree that this is an unwiel

[2021-07-09 17:00] alexsoble commented on #31
Agreed with your points on coworking lengths @carjug! For coworking holds, we could simply cut the hold time down to 90 minutes or two hours. As an alternative, we could break the hold into a "synchronous" and an "async" part and have e.g. default 90 minute sync followed by async work time.

[2021-07-09 17:12] ninamak commented on #31
I also think the amount of sync co-work we need to do will be on the decline.  There's just been a lot of convos to have that the whole team has wanted to be part of.  Which leads me to like Alex's suggestion of 90 min sync, 60 min async so that we still have blocks of time reserved for heads down time.

[2021-07-09 18:35] alexsoble commented on #31
@amymok, what do you think about the above? [for when you have a chance to catch up on all the GitHub chatter!]

[2021-07-09 20:05] amymok commented on #31
I agree we don't really need a demo at this point.  It would be different when we start building.

We can try the shorter retro/project health, and see how that goes.  If we need more time, we can talk about if we need to break it up into two different days.

I also agree with the long block of co-working time, it seems pretty hard after the 2 hours.

[2021-07-09 20:22] alexsoble commented on #60
This week:

+ Made a deck about 18F's approach to ATOs, within ACF and across agencies
+ Got great feedback and help from @ryanhofdotgov and @rahearn
+ Started previewing the deck with Sheila and getting feedback

Next up:

+ Go thru rest of the deck with Sheila, likely Monday 7/12
+ Edit and improve the deck next week
+ Send deck to Naomi ahead of time, maybe 7/19
+ Briefing with Namoi on 7/26

[2021-07-09 20:23] alexsoble commented on #60
(Edited the tasks lists a little bit to reflect what we've learned and discussed.)

[2021-07-09 20:25] alexsoble commented on #25
Merged in our team decision on back-end tech stack for web framework: https://github.com/18F/OPRE-Unicorn/pull/59

We'll turn to the frontend architecture decision next week.

[2021-07-09 20:52] ninamak opened #70 "Create Template for GH Issues"
### Goals
* Create a template for generic GH issues so that we are always prompted to provide a standard set of info for each issue we create and to streamline the issue-creation process.

### Tasks
- [x] Create a GH issue template

### Additional Context
- When we get into feature work, we may find that we want more specific templates for features and bugs.  We can add those at that time.

[2021-07-09 20:53] ninamak opened #71 "[8] Create database from sample database's exported schema/data (Oracle)"
### Goals
* Mimic having an Oracle database in an AWS environment using a sample DB so that we do not need to access the vendor's DB or worry about data security

### Tasks
Assuming TTS Sandbox can be used
- [x] Create Oracle DB in TTS Sandbox
- [x] Load exported schema and data from sample DB script into new TTS DB
- [x] Verify you can access the new TTS DB and things copied over correctly (e.g.,

[2021-07-09 21:18] ninamak commented on #61
@carjug Amy and I were writing up tasks for starting the DB testing work (assuming TTS Sandbox can work) and were wondering if you were able to find out if we'd have permission to set up VPC peering in our TTS Sandbox?

[2021-07-09 21:43] ninamak commented on #41
@amymok The documentation on the AllBudget view is perfect, thank you!  I'm all good to close this one out if you are!

[2021-07-09 21:48] ninamak commented on #34
Update: Amy and I met to turn [bullets 1 & 2](https://github.com/18F/OPRE-Unicorn/issues/34#issuecomment-872506593) into cards, which I'll clean up before Planning on Monday.

We did not create cards beyond that because 1) they're blocked by needing to work with OCIO and 2) the details will be informed by what gets learned in the earlier work.

We also discussed copying the notes from here on Stra

[2021-07-09 21:51] ninamak commented on #60
Flagging here that in talking through the [DB migration test work](https://github.com/18F/OPRE-Unicorn/issues/34#issuecomment-872506593) with @amymok, we think there's about 2-4 weeks of testing we can do before we're blocked by needing to talk to the OCIO about ACF/HHS AWS access.

[2021-07-09 21:51] carjug commented on #61
@ninamak We don't even have permissions to do the most baseline level stuff for an AWS DMS test (create replication instances), let alone VPC peering. The above comment states that we'll need to ask the TTS Tech Portfolio for this if we want them changed.

[2021-07-09 21:51] ninamak commented on #29
Flagging here that in talking through the [DB migration test work](https://github.com/18F/OPRE-Unicorn/issues/34#issuecomment-872506593) with @amymok, we think there's about 2-4 weeks of testing we can do before we're blocked by needing to talk to the OCIO about ACF/HHS AWS access.

[2021-07-09 21:56] carjug commented on #61
I'll create another card and put it in the backlog for contacting the TTS Tech Portfolio about potentially changing our permissions.

[2021-07-09 21:56] ninamak commented on #64
We have a plan to move forward on agreements with Sheila that Naomi has indicated support for.  That plan will not require us to make any changes to our work (at least not any time soon).

[2021-07-09 21:56] #64 closed

[2021-07-09 21:57] carjug opened #72 "Work with TTS Tech Portfolio to obtain AWS DMS permissions needs"
As engineers, we would like to be able to test our DB migration strategy in the TTS sandbox if at all possible. The default permissions do not allow us to use AWS DMS in the way we would like to. In order to get these permissions amended, we have to talk to the TTS Tech Portfolio.

**Tasks**
- [x] Set up meeting with TTS Tech Portfolio
- [x] Record results of meeting here
- [ ] Verify that "altern

[2021-07-09 21:57] carjug commented on #61
Card #72 created.

[2021-07-09 21:58] ninamak commented on #60
Convo to be cont'd with Sheila on Tues 7/13

[2021-07-09 22:02] ninamak commented on #56
Eng has said they have no more guidance for us.  Mtg to discuss what we want in the Tech Lead role scheduled for Tues 7/13

[2021-07-12 12:32] #27 closed

[2021-07-12 12:32] #42 closed

[2021-07-12 13:02] ninamak opened #74 "[8] Perform homogeneous migration of schema with sample database (Oracle to Oracle)"
### Goals
* Test if we can use the AWS DMS (database migration service) to migrate the schema when the databases are in the same VPC and are of the same type (easiest case).

### Tasks
- [x] Create 2nd Oracle DB in TTS Sandbox
- [x] Migrate schema (determine if the schema conversion tools need to be used)
- [x] As a dev, I want to know the specific Oracle user privileges for the target database to

[2021-07-12 13:03] ninamak opened #75 "Perform heterogeneous migration with sample database (Oracle to PostgreSQL)"
### Goals
* Test if we can use the AWS DMS to migrate databases, when they're in the same VPC and are of different types (tests schema migration & transformation).

### Tasks
- [ ] Create Postgres DB in TTS Sandbox
- [ ] Migrate schema using schema conversion tools
- [ ] Migrate data using AWS DMS

[2021-07-12 13:05] ninamak opened #76 "Perform data replication between databases (Oracle to Oracle, and Oracle to PostgreSQL)"
### Goals
* Test if we can set up data replication between databases to ensure they're constantly in sync.

### Tasks
- [ ] Test using the AWS data replication service

### Additional Context
Overall purpose of testing with a sample DB:

- Identify the steps and effort it takes to do the migration by practicing it
- Identify the AWS services we need to use
- Identify more targeted asks on getting

[2021-07-12 13:16] ninamak opened #77 "Determine how we'll do estimation"
### Goals
* To align as a team on how we'll do estimation for GH issues and milestones so that we can better plan our scope for each cycle and our overall roadmap.

### Tasks

- [x] Determine when and whether we'll use T-shirt sizes or Points to estimate issues and milestones
- [x] If Points, determine whether we'll use a Fibonacci scale (1, 2, 3, 5, 8, 13) or an exponential scale (1, 2, 4, 8, 16,

[2021-07-12 13:18] #63 closed

[2021-07-12 13:21] ninamak commented on #34
Update: I created #71, #74 , #75 , and #76 to capture the tasks associated with test runs using a sample db

[2021-07-12 15:52] #61 closed

[2021-07-12 15:57] ninamak commented on #31
Next steps:

- [ ] Update Project ReadMe with team norms and standing mtgs, links to team norming murals
- [ ] Determine the process we will use when multiple approvals (e.g., PM + dev) are needed on an issue

[2021-07-12 20:18] ninamak commented on #35
Will wrap up during Eng Co-work 7/14

[2021-07-12 20:21] alexsoble commented on #35
I propose moving these two rows over to Issue #36, Decide on security analysis tools — does that sound right @carjug @amymok?

- Security (dependency scanning)
- Security (static analysis)

[2021-07-12 20:35] ninamak commented on #55
HHS OCIO does use a version of GH that allows for Actions, but now we're blocked by not having access to HHS GH (they don't have enough licenses).

Options:
* Set up CircleCI in our 18F repo for now
* Alternatively, move to a public HHS repo (until/unless the need for a private repo re-emerges)

Next steps:
- [ ] Look into compliance status of GH Actions vs CircleCI
- [ ] Discuss above options at

[2021-07-12 22:20] amymok commented on #34
I added the [Database Migration Planning doc](https://docs.google.com/document/d/1xDtV_M7NbVY4LisNOZ40bUN5IOpoJ4pvL7nB3lAb-bo/edit#), which has the above plan.  @ninamak Let me know what you think.  We can probably close this issue and do the planning in the document.  We can refer to the document as we add more cards.

[2021-07-12 22:34] amymok commented on #35
Yes that sounds right!  👍

[2021-07-12 22:45] alexsoble commented on #36
Moved over the dependency scanning and static analysis rows from #35.

[2021-07-12 22:47] alexsoble commented on #35
Moved over the dependency scanning and static analysis rows to #36, so this is smaller now -- just linting and code coverage tools.

[2021-07-12 22:50] alexsoble commented on #36
Also added a new line for application scanning, this is the category that OWASP ZAP would fall into. Here's how I would think about the different kinds of tools:

* **Dependency scanning**: Reads our dependency files, lets us know when a dependency needs an upgrade due to a vulnerability.
* **Static analysis for security**: Reads our source code, looks for patterns in the code that tend to be asso

[2021-07-12 23:13] amymok commented on #72
@carjug, this is a result from #61, do you want to continue with asking TTS Tech Portfolio?  Or do you prefer I continue with this one, since this is a DB related task.

[2021-07-13 03:36] amymok commented on #68
Is there any other options other than S3 we would like to consider?

[2021-07-13 14:30] ninamak commented on #34
Looks great, thank you!

[2021-07-13 14:30] #34 closed

[2021-07-13 14:35] #41 closed

[2021-07-13 14:53] carjug commented on #72
Oh I figured I'd take this one! And I can meet with you to share results.

[2021-07-13 14:56] carjug commented on #36
Sounds good to me, Alex! Thanks for moving things over.

[2021-07-13 14:59] carjug commented on #68
Personally, I don't think so, given that any other options would like require a procurement and exist outside the AWS/cloud.gov pattern.

[2021-07-13 15:38] alexsoble commented on #68
Agreed, I wouldn't consider options besides S3 given the reasons @carjug mentioned above.

[2021-07-13 16:21] #70 closed

[2021-07-13 16:23] amymok commented on #68
Thanks for the information.  I can start the ADR later today!

[2021-07-13 20:58] ninamak commented on #31
To clarify what approvals are needed on an issue and in what order, how about the following:
* Add an Approvals Needed section to the GH Issue Template, and include options for 1 dev, 2 devs, PM, and PO.
* During Planning, remove any approvals we don't think we need to close out the issue, and specify the order in which reviews should take place.
* When an issue is ready for review, move it to the

[2021-07-13 22:54] carjug commented on #72
Ongoing conversation in Slack about this... looks like we might get our permissions changed to do what we need to do after all. See this thread for details:
https://gsa-tts.slack.com/archives/C039MHHF8/p1626127776006200

[2021-07-13 23:06] carjug commented on #31
That sounds good to me @ninamak, the only thing I have questions about is if changing the assignees will be too annoying/burdensome/hard to keep track of and what about just tagging the next person up for review when it's time? Thanks fo your thoughts!

[2021-07-13 23:44] alexsoble commented on #31
@ninamak We've talked earlier about the PM reviewing all PRs with the potential exception of security controls. Is it necessary for us to decide who needs to review per-issue, or should we have a default or standard review process that will apply to all issues?

Having a standard or default review process for all PRs might make things a little simpler and faster. Take a look at the WIP over here,

[2021-07-14 04:25] amymok commented on #31
@ninamak I am unsure what this situation should be, what would be a review other than PR review by a dev?

[2021-07-14 14:25] ninamak commented on #31
Responding to questions/suggestions:

I find it helpful to be able to filter issues to those assigned to me so that I can easily see which ones are awaiting some action from me.  Otherwise, I have to open each one and see whether there's a next step I'm responsible for, or just try to remember which ones I got tagged on.  If there's another way to easily see which issues I need to do something on,

[2021-07-14 17:05] alexsoble commented on #25
Talked with the team about frontend choices:

We're going to go with Django server-rendered HTML to start, and add JS incrementally or per-page to power features that will need a lot of interactivity, like the grid view.

ADR-writing assigned to me!

[2021-07-14 17:14] carjug commented on #35
Decision: backend linter Flake8
Will delay FE linting decision for when we actually implement JS on the product.

Test coverage: we're going to do some Slack digging about who has used what tools on their projects and if they have examples we can look at.

note: let's use as few tools as necessary, and only add them when they're useful to us :) so as not to overcomplicate our builds/tests from the

[2021-07-14 17:19] carjug commented on #56
@amy to add things here :) the rest of the engineering team will review/help where needed! yay for formalizing things.

[2021-07-14 18:51] alexsoble commented on #35
I did some digging around on this on Slack and learned useful things! Even led to an Engineering Practices Guide update PR! https://github.com/18F/development-guide/pull/273 — CodeCov is out, CodeQL is in ...

[2021-07-14 18:54] alexsoble commented on #35
tl;dr Since we want to move development over to our partners' infra as soon as possible, if we want to use a third-party tool to visualize things like test coverage, we'd need to make sure it's approved/allowed by our partners' security compliance teams.

Code Climate Quality has a GSA ATO, but that doesn't mean it would be accepted at another agency.

Another option would be to not visualize our

[2021-07-14 20:39] carjug commented on #31
One more suggestion here @ninamak, with PRs specifically, it is possible to see all PRs awaiting review by you (if you're assigned as a reviewer). So my suggestion would be for PRs at least, that we don't change the assignee for the issue and instead add Reviewers to the PR as they're needed. LMK if this doesn't make sense or needs further explanation.

Below is a link in which you can see all PRs

[2021-07-14 21:36] amymok commented on #35
Does that mean this is ready for ADR writing time? :)

[2021-07-14 21:53] amymok commented on #56
During our eng team lead role discussion, we have also identified the engineering work we need to do for this project.  We created a table with the list of engineering work, and the primary person responsible for the work.  A backup person was also identified for each in the case the primary person is unavailable.

We also wanted to point out the work identified with an asterisk (*) are big tasks,

[2021-07-14 22:09] alexsoble commented on #35
@amymok Hmmmmm, what would that ADR say?

My personal thought at this moment is that we should not choose or use any third-party external services to help with code analysis. It seems like we have consensus on Flake8 for Python, and we could use something like `Coverage.py` to measure code coverage: https://coverage.readthedocs.io/en/coverage-5.5/.

We could write an ADR for Flake8 and Coverage.py

[2021-07-14 22:18] amymok commented on #35
Oh okay, I may have misunderstood the conversation earlier, I thought we are grouping them to write an ADR.  Okay that makes sense, right, they are not the overall system architecture.  Thanks for the clarification.

[2021-07-14 23:00] alexsoble commented on #35
@amymok No worries! Yeah, I could go either way on this one but I think we should save ADRs for big language // framework // database decisions, or anything that involves using a third-party external service or data source.

[2021-07-15 00:08] alexsoble commented on #31
@ninamak I like the idea of a standard review process (PM + 1 other dev review) with the option to use different processes when appropriate. Things like PM + both other devs for tricky tech things, PM + PO + both other devs for big big changes, or lighterweight for things like fixing spelling, typos etc.

Eng review followed by PM review makes sense to me as you suggest! For some kinds of changes

[2021-07-15 03:33] ninamak commented on #77
@carjug @amymok @alexsoble I re-discovered that I'd previously put together a deck on [Estimation](https://docs.google.com/presentation/d/1O3pwzJVbisBqDNu4M-IafzqAXajblFCLsvq_9hHA4cY/edit#slide=id.gb82351d05c_0_472), and it conveniently still accurately describes my thoughts on why estimation is useful and how to do it, including tips/advice based on years of experience with many different teams.

[2021-07-15 16:26] ninamak commented on #31
Sound good!  So then...how would eng like to signal to the PM that eng review is complete and it's ready for PM eyes?  I'm still a bit unclear what's being proposed.

[2021-07-15 18:01] carjug commented on #35
So given that the decision has been made and agreed upon, what do we think about moving this to done @amymok @alexsoble

[2021-07-15 18:04] alexsoble commented on #35
I'm good with that @carjug!

[2021-07-15 18:15] amymok commented on #35
Sounds good to me!  Moving it~

[2021-07-15 18:30] amymok commented on #31
Right now I don't think we do signal it to a PM.  Either the PM comes across and check each issue, if not, we can have the author takes a look at each of their own issues, and tag PM for review when all the reviews are finished by the engineers.

[2021-07-15 20:08] alexsoble commented on #25
Ooooops! Did not mean to close.

But I do have a question... I see the card is in "In Review", what does that mean? The tech stack ADRs have already been reviewed and approved by the eng team and PM.

Does "In Review" mean we're waiting for a particular meeting or ceremony before we mark "Done"?

[2021-07-15 20:09] alexsoble commented on #60
Discussed and updated deck with Sheila today.

[2021-07-15 20:39] carjug commented on #25
We can move to "Done" by my view.

[2021-07-15 22:26] alexsoble commented on #36
☝️ All 3 engineers have already started adding ideas here async, so I'm going to move this from TODO to In Progress!

[2021-07-15 22:27] alexsoble commented on #55
☝️ All 4 of us have already started adding ideas here async, so I'm going to move this from TODO to In Progress!

[2021-07-15 22:51] alexsoble commented on #55
We know that at least 2 other projects in ACF are using the HHS CircleCI org. Adopting CircleCI for this project would let us move this task to "Done" the quickest, because we could use the tracks that those other projects have laid down.

The main benefit I see to using GitHub Actions is that it would reduce the number of third-party tech services we need to manage, since we already plan to use G

[2021-07-15 22:52] alexsoble commented on #36
We can learn from the TANF Data Portal project here.

They started off with Snyk but then moved to GitHub Native Dependabot.

The team wrote about their reasons why in an ADR!

https://github.com/raft-tech/TANF-app/blob/raft-tdp-main/docs/Architecture%20Decision%20Record/016-dependabot-dependency-management.md

[2021-07-15 22:56] alexsoble commented on #36
... however, it looks like GitHub Native Dependabot isn't quite ready for Enterprise yet: https://github.com/dependabot/dependabot-core/issues/2149

[2021-07-15 22:57] carjug commented on #55
Hey @alexsoble when we originally reached out to Domenic at HHS, he confirmed that the version of GH they use at HHS does have access to Actions. Just as an FYI 💟

[2021-07-15 22:59] alexsoble commented on #55
@carjug Yes! But if we want to use specific actions from the [GitHub Marketplace](https://github.com/marketplace?category=&query=&type=actions&verification=), we may need to work with him to enable access.

[2021-07-15 22:59] carjug commented on #55
My questions about compliance and FedRamp concerns are these: if GitHub itself is FedRamped, do individual services within the GitHub suite need to be FedRamped as well? I would be surprised if that were the case, but also not. Does anyone know the answer here?

[2021-07-15 23:00] carjug commented on #55
@alexsoble ahh I see what you mean.

[2021-07-15 23:00] alexsoble commented on #55
@carjug Good question! Here's one breadcrumb: https://github.com/18F/development-guide/pull/273#issue-690111111

Would also be a good question for #dev!

[2021-07-15 23:01] alexsoble commented on #36
... but I do see TTA SmartHub using it via the HHS GitHub org! So looks like it's likely available after all! https://github.com/HHS/Head-Start-TTADP/pull/487

[2021-07-15 23:08] alexsoble commented on #55
From @ryanhofdotgov's answer over in the development guide repo, it sounds like we could reasonably count on all GitHub-provided services being compliant.

Also, it looks like the TTS infrastructure team looked into this question a little while back and landed here: https://github.com/18F/tts-tech-portfolio/issues/107#issuecomment-555176636

**_As a member of TTS/GSA, I want to know if I can use G

[2021-07-15 23:09] alexsoble commented on #55
@carjug That question is also very relevant to #36, where we could potentially use two different security scanning tools that are already built in to GitHub.

[2021-07-15 23:11] alexsoble commented on #36
Using GitHub-provided Dependabot and GitHub-provided CodeQL would simplify the compliance. (See discussion over in #55, https://github.com/18F/OPRE-Unicorn/issues/55#issuecomment-881065543.) Also, CodeQL is getting some rave reviews over in Slack and catching security bugs that weren't caught by other layers of tooling/review.

[2021-07-15 23:16] carjug commented on #36
I'm all for using the GitHub-provided services given the simplicity of keeping things all in one place and also the fact that people are loving 💓

[2021-07-15 23:18] carjug commented on #68
Moving to "Done"!

[2021-07-15 23:18] #68 closed

[2021-07-15 23:24] #56 closed

[2021-07-15 23:24] #25 closed

[2021-07-15 23:24] #35 closed

[2021-07-15 23:27] amymok commented on #55
Since CircleCI is already being used by other HHS/ACF projects, it looks like it is an option that would already be approved for this project.

Even if GitHub Action would be a good choice and part of GitHub, CircleCI is more mature than GitHub Action.  Is there any other risks and issues we may run into if we choose GA, i.e. some of the workflows we want to do may not be available yet compare to

[2021-07-15 23:34] alexsoble commented on #55
@amymok Those are good questions! I have more experience with Circle than GitHub Actions. On my last project, the team did use GitHub actions to set up a nifty automated deploy flow that allowed devs to deploy any branch to cloud.gov by adding a "deploy" label on GitHub. That was cool and a neat developer experience!

[2021-07-15 23:35] alexsoble commented on #55
@amymok And doing some further digging on Slack, I'm seeing: "Note that GitHub Actions are LiSaaS, so may not pass muster with assessors for Moderate impact systems."

More on LiSaaS: https://tailored.fedramp.gov/.

So Circle may be the safer/better choice here compliance-wise.

[2021-07-16 00:08] amymok commented on #36
It looks like Snyk does have more functionalities than Dependabot.  Dependabot mostly focus on dependencies, but Snyk also scan the code for other types of security issues.  The question would be, can other tools we are using here also can fill in those functions?

[2021-07-16 02:25] amymok commented on #55
Have we reached a decision to use CircleCI then?

[2021-07-16 02:35] amymok commented on #67
I started a table here, we can put in our preference on how we vision this.

[2021-07-16 15:04] alexsoble commented on #55
@amymok Yes, that would be my vote!

[2021-07-16 15:06] alexsoble commented on #36
@amymok CodeQL can fill in the static analysis code-scanning piece!

[2021-07-16 15:27] carjug commented on #55
Works for me!

[2021-07-16 17:00] alexsoble commented on #67
@amymok Great, added my two cents!

[2021-07-16 17:18] ninamak opened #83 "[4] Move repo to HHS GH (public)"
### Goals
* Start development in our destination GH repo

### Tasks
- [ ] Reach out to Domenic and clarify our new request (we previously asked for a private repo but no longer think we need that)
- [ ] Add the appropriate collaborators to the org and repo
- [ ] Ask 18F GH Admins for help transferring the repo (we do not have that ability enabled)
- [ ] Do the transfer (repo and project board)

##

[2021-07-16 17:22] alexsoble commented on #83
@ninamak Added a resource on transferring repositories that might be helpful!

[2021-07-16 17:22] ninamak opened #84 "[Spike] Investigate feasibility of moving repo to HHS GH"
### Goals
* Determine if there are any tools we want to use that we don't have approval to use in HHS GH so that we can determine when to migrate from our 18F GH repo to HHS.

### Tasks
- [ ] @alexsoble Can you help identify the tasks that would go into this investigation?

### Additional Context
* We are currently using a public 18F GH repo, but will ultimately want to move this into HHS control.

[2021-07-16 17:33] ninamak opened #85 "[8] Create a "Hello World" application in 18F cloud.gov sandbox"
### Goals
* Verify that we can set up a minimal application using our chosen tech stack that can be pushed to cloud.gov

### Tasks
- [x] Choose a Django version to use and create a "Hello World" app
- [x] Manually push to 18F cloud.gov sandbox
- [x] Create a Postgres DB and link it to the app
- [x] Give access to the app to others on the team

### Conditions of Acceptance
* Any member of this team

[2021-07-16 17:33] alexsoble commented on #55
Happy to write the ADR for this one if no one else wants to. I'll assign myself to the issue.

[2021-07-16 17:38] alexsoble commented on #84
Hmmmmmm, we've already been researching & discussing this in #36 and #55 and on Slack. I don't think there's a whole lot of additional work to do here.

* We decided we'd like to use HHS CircleCI for CI/CD, that's not a GitHub tool
* We know GitHub Dependabot is available in HHS GitHub because TTA SmartHub is using it, right now
* We may want to use GitHub CodeQL for static analysis but if for som

[2021-07-16 17:39] alexsoble commented on #36
@amymok @carjug Do we have consensus that GitHub Dependabot and GitHub CodeQL will be our preferred third-party tools, or are there questions/concerns we want to discuss at next week's eng cowork? Either way is OK with me

[2021-07-16 17:44] ninamak opened #86 "Set up CircleCI"
### Goals
* Set up CircleCI for continuous integration and deployment

### Tasks
- [ ] Determine automation rules for where to push and when (esp given multiple devs pushing changes)
- [ ] Write config files to integrate with GH and automatically push to cloud.gov

### Additional Context
* We will need to update the config files if we add code analysis tools and tests that we want to run before pu

[2021-07-16 17:47] ninamak opened #87 "[2] Set up Flake8"
### Goals
* Set up Flake8 as a linter to check for Python code quality

### Tasks
- [ ]  Update CircleCI config file to run Flake8 as part of CI/CD

### Additional COntext
* Dependent on #86

[2021-07-16 17:51] ninamak opened #88 "[4] Set up automated test framework and test coverage tooling"
### Goals
* Set up coverage.py to check for test coverage
* Set up automated test framework

### Tasks
- [x] Determine what automated test framework to use
- [x] Write a basic/dummy test using the test framework
- [ ] Update CircleCI config file to run automated tests with coverage.py as part of CI/CD

### Conditions of Acceptance
- [x] Test suite runs
- [ ] Coverage stats are returned (expect 0%

[2021-07-16 17:52] ninamak opened #89 "Set up S3 document storage"
### Goals
* _What outcome(s) we are hoping to accomplish_

### Tasks
- [ ] _Key pieces of work that will need to be done to accomplish our goal(s)_

### Additional Context
* _Any additional information that would be useful to share about this work (e.g., dependencies, constraints, previous work that's been done, info already known, etc)_

### Resources
* _Links to useful related info (e.g., articl

[2021-07-16 17:52] ninamak opened #90 "[4] Set up GitHub Dependabot for dependency scanning"
### Goals
* Set up dependency scanning to ensure we're checking for vulnerabilities with any of the libraries we use.

### Tasks
- [x] Research how other 18F teams have set up GitHub Dependabot (e.g., TTAHub)
- [x] Research on GitHub docs on how to configure it
- [x] Set it up

### Conditions of Acceptance
* We receive confirmation that we're set up
* [We don't get any errors when it runs](https:/

[2021-07-16 17:56] ninamak opened #91 "Design CANs-related data table(s)"
### Goals
* Design and understand the data tables needed to allow OPRE to view CAN information

### Tasks
- [x] Design an [Agencies table](https://airtable.com/tblGGRgffwAm6oV3h/viw42XXeFHzgoXwuB?blocks=hide)
   - Name (short text)
   - Nickname (short text)

- [x] Design a [Personnel table](https://airtable.com/tblPe0l9XDDPor9ED/viwzRcyxs9S8Ikn3C?blocks=hide)
   - Name ( [First Name] + [Last Name

[2021-07-16 17:57] alexsoble commented on #88
@ninamak This isn't the decision we came to. We decided not to use any third-party services to visualize code coverage & code quality for now. We'll use Python libraries like https://coverage.py/ to measure and report instead within our CI/CD.

https://github.com/18F/OPRE-Unicorn/issues/35#issuecomment-880242858

[2021-07-16 17:57] ninamak opened #92 "Create dummy data"
### Goals
* _What outcome(s) we are hoping to accomplish_

### Tasks
- [ ] _Key pieces of work that will need to be done to accomplish our goal(s)_

### Additional Context
* _Any additional information that would be useful to share about this work (e.g., dependencies, constraints, previous work that's been done, info already known, etc)_

### Resources
* _Links to useful related info (e.g., articl

[2021-07-16 18:00] ninamak opened #93 "[8] View CANs"
### User story
As a PM/PO, I want to see what it would look like to view and edit CAN data in the Django interface so that I can provide feedback on how well it meets our needs.

As a PM, I want to show our PO our initial data model so that we can feedback and refine it.

### Conditions of Acceptance
- [x] I can use Django Admin in the dev environment to see how much money is available to OPRE and

[2021-07-16 18:04] ninamak commented on #88
Tagging at @amymok as I was just the documenter :)

[2021-07-16 18:58] carjug commented on #36
Dependabot and CodeQL are good with me :) open to either as well though.

[2021-07-16 19:27] amymok commented on #36
I don't have any concerns.  I am good with Dependabot and CodeQL.  I am assuming we also have the consensus on OWASP Zap? Do we need to check compliance or anything on that?

[2021-07-16 19:48] alexsoble commented on #36
@amymok OWASP ZAP gets pulled in as a Docker image, as opposed to being a third-party external service that we integrate with. So kind of similarly to flake8 or coverage.py, I'd treat it as a library we're using, not an external service we need to get compliance sign-off on.

[2021-07-17 02:23] amymok commented on #43
There are couple stages and work streams that would require a data strategy.  It is best to talk about them separately because their needs of data are different.

**New Application Development**
In this work stream, we would start minimally and continue to add more functionalities.  We should only have the data that is necessary for the functionality being developed at any time in the cloud.gov da

[2021-07-19 17:52] ninamak opened #94 "Determine default data to display"
### Goals
* Get alignment from OPRE about the default data they would like to see related to Budget Lines
* Break down and prioritize work needed to implement

### Tasks
- [ ] _Key pieces of work that will need to be done to accomplish our goal(s)_

### Additional Context
* _Any additional information that would be useful to share about this work (e.g., dependencies, constraints, previous work tha

[2021-07-19 18:56] alexsoble commented on #55
As part of writing up the ADR I looked up CircleCI's FedRAMP status, and interestingly enough it's also Li-SaaS: https://marketplace.fedramp.gov/#!/product/circleci-cloud?sort=productName&productNameSearch=circleci

[2021-07-19 19:16] ninamak commented on #84
Won't Do.

Per team: we know we will need to move to HHS GH eventually, so it would be better to do that right away and find out if there are any planned tools that we couldn't use so that we can decide on an alternative and avoid investing in building a thing we'll have to replace.

[2021-07-19 19:16] #84 closed

[2021-07-19 19:31] alexsoble commented on #77
In issue grooming today we decided to go with points + exponential!

[2021-07-19 19:32] alexsoble commented on #77
@amymok You had some good ideas//reference points on what 1, 2, 4, 8, 16, 32 points each map to. When you have a minute, could you leave those reference points here? Thank you!

[2021-07-19 19:46] ninamak opened #96 "[4] Determine CI/CD automation process"
### Goals
* Determine what we want our automatic deployment rules to be for when we set up CircleCI (#86 )

### Tasks
- [ ] Determine automation rules for where to push and when (esp given multiple devs pushing changes)

### Additional Context
* Related to #86

[2021-07-19 21:01] alexsoble commented on #60
Sheila would like us to attach the slide deck to the meeting cal invite as a pre-read.

[2021-07-19 21:06] amymok commented on #43
Team, would like to see your thoughts on ☝️ .  I think this is more of a high level view and align with what we are talking about, and @ninamak the budget lines discussion you are working on is more the details of which tables we want to start with.

@carjug @alexsoble love to hear from you on this, and feel free to suggest if anything doesn't sound right and if anything is missing.

[2021-07-19 21:31] alexsoble commented on #43
[@amymok I gave this an initial read-through, there are tons of helpful ideas and strategies in what you wrote up! I want to spend more time with what you wrote // make sure I understand all the details // formulate any questions I might have.]

[2021-07-19 21:44] carjug commented on #43
@amymok Thanks for all this information! It's super helpful to get it all out on "paper".

I may have more questions as we continue with this work, but my first question that popped up while I was reading through this was, under the "**Strategy for Merge Point**" heading there is a bullet that says

And I wasn't quite sure what was meant by this. Can you expound on what "wipe out" means in this co

[2021-07-19 22:19] amymok commented on #43
@alexsoble yes, take your time.  We can also talk thru it if that's helpful.  It is just an initial thoughts, definitely nee to flush it out if this is somewhat the direction we want to go with.

@carjug, yes I have a lot of questions about how much we can do vs. we need from the vendor to do too.  But let's say in the ideal world, I am envisioning as we are moving forward with getting more realis

[2021-07-19 23:20] alexsoble commented on #43
@amymok Ooooh, yes, diagrams I think will be very helpful! My thoughts/feedback/questions so far:

* The concept of a "Merge Point" when the two workstreams meet is super helpful!
* From your notes so far it's clear we'll need to use at least 2 if not all 3 of the options listed in the issue body
* You mention both "sample database" and "development database", are these different things?
* If we w

[2021-07-19 23:22] amymok commented on #77
I was mostly talking about the fib version, but probably can translate to the exp version.
1 - Really trivial, like typos, word changes
2 - Easy to change, no need to do additional research, but requires a bit more effort than the trivial 1 task, like need to reword some paragraphs, fixing some easy flake 8 errors
3 - Requires more effort, a medium task, maybe some research on reminding yourself h

[2021-07-19 23:26] alexsoble commented on #77
Thanks @amymok! This is a super helpful frame of reference!

[2021-07-19 23:34] amymok commented on #43
@alexsoble

Yes! I am trying to say that we probably need to use 2 to 3 of the options in the issue body, but detailing out when to use what, and which work streams to use which one.

For context, when I was working on #34, I introduced the concept on starting with "sample database" first before "development database".  Here's the [updated plan](https://github.com/18F/OPRE-Unicorn/issues/34) in Go

[2021-07-19 23:57] carjug commented on #43
@amymok ok yes, I think a diagram would really help me! So far I'm having trouble understanding the utility in modifying the vendor's development database if we're moving away from their databases in general but I think I may be missing something.

[2021-07-20 00:02] amymok commented on #88
@alexsoble I read [this comment](https://github.com/18F/OPRE-Unicorn/issues/35#issuecomment-880131684) thinking we are going to CodeClimate Quality, and the "another option" is a point, but not the decision, but only briefly looking at the later comments.  Sorry, to have misunderstood that.  I understand the point now, we want to start with coverage.py first.  I am good with that.

So the change w

[2021-07-20 14:54] ninamak commented on #43
@amymok Thanks for laying this all out.  I was a little confused about the "wipe out" part, but your above comment clarifies that for me a lot (I think).  Instead of wiping out the vendor's developer db tables, could we instead wipe out the copy we'll create in ACF/HHS AWS?  That way, we're not as dependent on the vendor?  And instead of "wipe out," could we augment with the realistic-looking dumm

[2021-07-20 17:40] ninamak opened #98 "[4] Set up CodeQL for static analysis"
### Goals
* Set up static analysis to check for security misconfigurations in our code.

### Tasks
- [ ] Research how other 18F teams have set up GitHub CodeQL (e.g., FNS NAC)
- [ ] Research on GitHub docs on how to configure it
- [ ] Set it up

### Additional Context
* We don't want to set this up in the 18F repo; we'd want to set this up in the HHS repo #83

### Resources
* Background on tech ch

[2021-07-20 17:41] ninamak opened #99 "[8] Set up OWASP Zap for application scanning"
### Goals
* Set up application scanning to find security flaws in our application from the point of view of external access

### Tasks
- [ ] Research how to set up OWASP Zap
- [ ] Add config to CI/CD pipeline
- [ ] Store OWASP Zap reports as HTML

### Additional Context
* We don't want to set this up in the 18F repo; we'd want to set this up in the HHS repo #83
* Dependent on #85 being completed
*

[2021-07-20 20:28] #50 closed

[2021-07-20 20:42] alexsoble commented on #55
This is done! via #97

[2021-07-20 20:42] #55 closed

[2021-07-20 20:46] alexsoble commented on #36
I'll pick this one up since we finished out the ADR for CI/CD

[2021-07-20 21:05] amymok commented on #67
@ninamak @carjug Any thoughts on this?

[2021-07-20 21:48] ninamak commented on #67
Sorry for the delay!  Added my thoughts to the table.  I'm pretty flexible about it all!

[2021-07-20 21:59] carjug commented on #67
Added my thoughts as well!

[2021-07-20 23:00] amymok commented on #67
Thanks for all the thoughts here!  I was looking at our calendar to see what would be the best time for this to happen.  If we want to do at a set time together, we will need to block off ~45 mins to give everyone a chance to talk to others.  But it doesn't look like we have an 1-hr open slot until Thursday 8/12 right after our co-work (and same Thursday slot is open biweekly).  This is also the m

[2021-07-21 21:09] alexsoble commented on #83
Asked our GitHub admins what the preferred flow for this is.

[2021-07-21 21:39] #36 closed

[2021-07-22 21:30] amymok commented on #43
@ninamak I think the wipe out part we need to still flush out because we don't know if it is possible.  The reason I am doing that is that is there is going to be a long time users are using both vendors MAPS1.0 app and our prototyping Unicorn app.  And we need to sync up the data continuously, so we need to make sure that path to transform to our database is defined and working.  If we use the AC

[2021-07-22 21:53] alexsoble commented on #83
Scheduled an email to go out to Domenic tomorrow morning to find a good time for the repo transfer.

[2021-07-23 14:00] ninamak commented on #43
@amymok The diagrams make sense to me and I'm following what you propose!  I can see how we'd be testing different aspects of the migration at various stages, working within the constraints we'll have.  I left a couple comments -- one providing some thoughts on the likelihood of loading more realistic data into the dev DB, and one as a curiosity question.

A thing I'm noting for myself is that, wh

[2021-07-23 14:06] ninamak commented on #67
I just noticed that this issue is assigned to me, but I have no idea why!  If there's something you need me to do with this, please let me know, cuz I have no clue :)

[2021-07-23 14:12] ninamak commented on #31
Next steps that I'm aware of:

- [ ] Agree on how eng will let PM know when eng review is complete and ready for PM eyes
- [ ] Update "How we work" to include the overall review process we've discussed here.

In terms of the first task, I'm amenable to whatever works for you all.  My requirements are just that I have a way to see everything that is awaiting my review without having to go into each

[2021-07-23 14:14] ninamak commented on #77
Is there anything left to do with this issue before closing it out @amymok @alexsoble @carjug ?

[2021-07-23 15:24] carjug commented on #77
I think it's all good from my perspective.

[2021-07-23 22:38] carjug commented on #72
Not sure what to do with this one...still waiting on the "alternative" accounts for Amy and I that were proposed in the above-linked Slack thread, but I still have permissions to do the things I need to in AWS. Basically, at this point I'd say this ticket is done given the tasks, but that we're waiting on them for final word. I'll follow up with them again on Monday.

[2021-07-26 17:23] alexsoble opened #101 "Scope out short-term project design needs in more detail"
### Goals
Create a list of the design needs on the project: short, medium, & long term.

### Additional Context
@ninamak has a [microrequest](https://gsa-tts.slack.com/archives/CNFHBCXDW/p1627068847005100) for design support to help us rescope our staffing request.  This list of needs could be helpful in that conversation.

### End result

We scoped out our short term design needs here: https://gi

[2021-07-26 17:44] alexsoble commented on #83
Set up meeting for this Thursday between TTS GitHub admin and HHS GitHub admin to transfer the repo.

[2021-07-26 19:54] alexsoble commented on #9
@ninamak presented an initial draft Product Vision to executive stakeholders in our check-in meeting today.

[2021-07-26 19:56] alexsoble commented on #9
Should we pull this Epic into Milestone 0?

[2021-07-26 20:12] ninamak commented on #72
@amymok Can you check that you have the appropriate permissions using your current account (you can set up a replication environment)?

[2021-07-26 20:13] #60 closed

[2021-07-26 20:22] ninamak commented on #101
Scheduled for Thurs 7/28 co-work

[2021-07-26 20:28] ninamak commented on #77
Next step:

- [ ] Pull out the decisions and framework for point values and document in the How We Work doc

[2021-07-26 20:33] ninamak commented on #43
Plan is to use eng co-work on 7/25 to walk through diagram

[2021-07-26 21:03] ninamak opened #102 "Refine Vision"
### Goals
* Get feedback from Naomi and other stakeholders on the draft vision for RPM
* Discuss broadening the vision given the broader scope

### Tasks
- [x] Share draft vision with Naomi and other stakeholders
- [x] Gather feedback
- [ ] Finalize vision

### Additional Context
* Sheila and Catherine drafted a vision statement several weeks ago, before we investigated the Unicorn MIS idea.  That

[2021-07-26 22:11] alexsoble commented on #52
I have a little extra time this afternoon and all my other cards are Done or In Review, so I'll pull this one in and pick it up.

[2021-07-26 22:16] carjug commented on #31
## Reviews process proposal

I have created a set of "review" labels for the team.
See them here: https://github.com/18F/OPRE-Unicorn/labels?q=Review

I've assigned a review label for everyone to this issue. See the example here, when I filter by "Alex Review"
https://github.com/18F/OPRE-Unicorn/issues?q=is%3Aopen+is%3Aissue+label%3A%22Alex+Review%22

### For issues without PRs

- When issue is re

[2021-07-26 23:36] alexsoble commented on #31
@carjug Oooh, I like it! I think the use of labels is a creative [and colorful!] way to communicate about review for issues without PRs!

I think juggling the two different ways to request review — labels and the PR review functions — could get clunky, like you mention. So I think I'd prefer having just one way to request review and indicate approval. But that's a weakly held preference.

[2021-07-27 01:56] amymok commented on #31
I don't have a strong preference, I can do whichever way we settle on.  Thanks for the suggestion @carjug!

[2021-07-27 04:48] amymok commented on #67
I was able to reserve a 30-min slot (using the template Nina suggested above) to do speed feedback during end of cycle on Thursday after our co-work.  I started it on Aug 5th by realize there's couple conflicts there, so for the 1st one, I moved it to the 12th.  But leaving the other ones in place.  Understand that there may be time that we are out of office or have conflicts, we can decide as pai

[2021-07-27 15:10] ninamak commented on #31
This works for me!  I think with this process that tagging the person along with adding the label is key.  The tagging alerts the person, the label lets them keep track.

[2021-07-27 15:20] #77 closed

[2021-07-27 15:33] ninamak commented on #9
@alexsoble Now that I've had a chance to review this Epic, I think it's largely still applicable.  We've done pieces of it but not all, and it would be helpful to track the stories that are part of this work.  With the limitations of GH Projects, I think we may need to use the Milestones feature, as opposed to using labels to jury-rig Epics.

**Proposal**
* Use Milestones when there's a collection

[2021-07-27 15:37] carjug commented on #31
Great! Thanks team.

So, for PR reviews lets make a habit of both adding reviewers to the PR as well as adding the label to the issue for whoever needs to review, just so there's a one stop shop for all reviews needed :)

Moving to done!

CC: @amymok @ninamak @alexsoble

[2021-07-27 15:38] carjug commented on #31
Record scratch, unless there's somewhere we'd like this documented??

[2021-07-27 15:47] carjug commented on #9
That makes sense to me. So just so I'm understanding correctly "Milestones" in the GH world would be our epics?

[2021-07-27 15:48] ninamak commented on #67
Thank you!!

[2021-07-27 15:50] ninamak commented on #31
LOL, we agreed yesterday to document this in How We Work -- both who needs to review what, and what the process for reviews will look like.

[2021-07-27 15:52] ninamak commented on #9
<<Shruggie>>  What's the difference between a Milestone and an Epic?  (I've seen them defined differently and interchangeably, so I'd be curious what connotations those words have for the rest of you all.)

[2021-07-27 15:53] carjug commented on #31
Clearly did not remember that, LOL. Ok I will document and assign everyone to the PR when it's ready for review (since all your Review tags are already added to this issue lol)

[2021-07-27 16:10] carjug commented on #9
Oh I'm just used to using the word Epic, I've not really used the word Milestone before. I was just double checking to see if the two mean the same thing?

[2021-07-27 18:01] alexsoble commented on #101
## Team brainstorming on design needs 7/27/2021

Brainstorming with: @ninamak @carjug @amymok @alexsoble.

### Short term: user research

**Goal**: As a team, we need to understand our user needs in more depth in order to make better decisions about the product we are building with OPRE.

We want user research to help us decide:

* which data tables in the current product we should focus on
*  and

[2021-07-27 18:04] alexsoble commented on #101
☝️ We know our project will have product design and UX needs as well, but we think the product design & UX will need to be informed by the user research scoped above.

[2021-07-27 19:53] carjug commented on #31
@amymok @alexsoble @ninamak ready for review!

[2021-07-27 23:24] amymok commented on #67
@ninamak @alexsoble @carjug Anything else we want to address before I close this?  We can start another issue later if things are not working out well.  But we do have a schedule right now.

[2021-07-27 23:26] amymok commented on #72
@carjug I checked that I was able to "Create replication instance" under DMS.  I didn't actually press the button to create the instance, but the button is not grayed out.  Anything else I should check, or is this sufficient?

[2021-07-27 23:27] carjug commented on #67
Nope! Having things on the calendar seems like a good place to stop for me.

[2021-07-27 23:28] carjug commented on #72
@amymok click "Create", it is at that point that you will find out whether you have a proper IAM role.

[2021-07-27 23:30] amymok commented on #72
@carjug I clicked on it, and it is starting to make the instance, at least it is saying <replication name> creation in progress.

[2021-07-28 15:51] alexsoble commented on #101
How about we break this issue up into two — "scope out short term design needs", "scope out medium/long term design needs" — call the first part Done and the second part we can prioritize and complete in a future cycle?

[2021-07-28 15:58] ninamak commented on #101
Sounds good to me!  I think the idea is that Julia will help with that second part.

[2021-07-28 16:00] alexsoble opened #107 "Define upcoming user research needs"
### Goals
* As a project team, we need help prioritizing the user research we will need to do to build out OPS so we know what to focus on next.
* As a project team, we need a user research plan that addresses the objectives prioritized above so that we can craft a staffing request or microrequest for support and execute on the plan.

### Tasks
- [ ] Identify research areas and priorities
- [ ] De

[2021-07-28 16:00] alexsoble commented on #101
Broke out medium- and long-term into its own issue: https://github.com/18F/OPRE-Unicorn/issues/107

[2021-07-28 16:18] carjug commented on #72
Ok @amymok it looks like you have the right permissions. If you didn't it would show something like this
<img width="841" alt="Screen Shot 2021-07-13 at 9 15 04 AM" src="https://user-images.githubusercontent.com/10871517/127359213-c93d7afd-68ec-4611-9106-22b5aae6ac7f.png">

[2021-07-28 16:23] ninamak commented on #46
This was a placeholder.  Replacing with actual cards.

[2021-07-28 16:23] #46 closed

[2021-07-28 16:23] ninamak commented on #45
This was a placeholder.  Replacing with actual cards.

[2021-07-28 16:23] #45 closed

[2021-07-28 16:26] #101 closed

[2021-07-28 16:33] ninamak opened #108 "Refine AirTable Prototype: CANs"
### Goals
To prepare for writing user stories for our first slice:
* Have a better sense of which fields are needed on which tables to enable budget reporting.
* Better define the field types and relationships.
* Better understand how existing data could/could not be used to populate our new tables.
* Identify open questions that Sheila can't answer/resolve on her own

Focus for this card will be

[2021-07-28 16:50] ninamak commented on #7
Replaced by other cards

[2021-07-28 16:50] #7 closed

[2021-07-28 16:50] #4 closed

[2021-07-28 16:50] #21 closed

[2021-07-28 16:51] #38 closed

[2021-07-28 16:55] ninamak opened #109 "Onboard Julia"
### Goals
* Provide Julia with enough context about the project, partner, product, and team to be able to engage effectively.

### Tasks
- [x] Prepare an onboarding doc that is UX/Design-specific
- [x] Meet with Julia to walk through things, answer questions
- [x] Update meeting invites to include Julia as appropriate
- [x] Ensure Julia has access to the tools we use

[2021-07-28 17:03] ninamak commented on #9
Converted to [Milestone 0.5](https://github.com/18F/OPRE-Unicorn/milestone/4)

[2021-07-28 17:03] #9 closed

[2021-07-28 17:03] #13 closed

[2021-07-28 17:03] #14 closed

[2021-07-28 17:03] #15 closed

[2021-07-28 17:03] #16 closed

[2021-07-28 17:03] #17 closed

[2021-07-28 17:24] ninamak commented on #67
LGTM!  I added it to the ["Meetings" section of our Project ReadMe](https://docs.google.com/document/d/1UQGQBCoiUzHSdpvyLQrS5GtTtQXjNrKHYy3y_SXED1k/edit#heading=h.n3gtfyokdfav)

[2021-07-28 17:27] alexsoble commented on #67
👍 👍 👍

[2021-07-28 17:28] alexsoble commented on #31
👍 👍

[2021-07-28 17:58] ninamak opened #110 "Consolidate "How We Work" docs"
In our repo, our "how we work"-related docs are spread out in a couple places and should all live in one place.

See https://github.com/18F/OPRE-Unicorn/tree/main/docs

We have:
* how_we_work.md
* how_we_work folder
  * estimation.md
  * issue_review.md (currently in PR)

[2021-07-28 18:04] #52 closed

[2021-07-28 18:05] #51 closed

[2021-07-28 18:11] ninamak opened #111 "Break down "first" user story: CANs"
### Goals
* Break down our overarching "first" user story into more specific user stories so that we can begin to discuss solutions and first steps
* Focus for this card will be CAN management, since that's the beginning of the budget process.

### Tasks
- [x] Document more granular user stories
- [x] Identify how those user needs are being met currently
- [x] Compile pain points for each

### Add

[2021-07-28 18:18] ninamak opened #112 "Refine "Lifecycle of a Contract""
### Goals
* _What outcome(s) we are hoping to accomplish_

### Tasks
- [ ] Add CAN Management workflows
- [ ] Verify details with Sheila
- [ ] Augment with the systems/screens being used
- [ ] Identify areas where we need more info
- [ ] Create card to work with designer to turn into a visualization?

### Additional Context
* I wonder if we should update this to be a more holistic map to "Follow t

[2021-07-28 19:55] carjug commented on #31
Hey @alexsoble not sure if you saw my comment on the PR that CC'ed both you and Amy. I saw your above comment and wondered if perhaps you got the notification that I tagged you but missed the thread where it was at (in the PR).

[2021-07-28 21:23] alexsoble commented on #67
I think this is "Done" now huh?!?

[2021-07-28 21:23] #67 closed

[2021-07-28 21:34] #30 closed

[2021-07-28 21:34] #1 closed

[2021-07-28 21:53] carjug commented on #110
Everyone cool with me moving the current `how_we_work.md` (which contains our engineering practices only) to the `how_we_work` folder under the name `engineering_practices.md`? CC: @ninamak @alexsoble @amymok

[2021-07-28 22:02] alexsoble commented on #110
@carjug Yep! That's a better filename!

[2021-07-28 23:22] amymok commented on #43
@carjug @alexsoble I added [another version of a path](https://app.mural.co/t/gsa6/m/gsa6/1626741896852/fb4e8c9b6906c1db77b4264d07e6f4edccfa1eed?sender=amymok9512) we can take below the original one (inside dev environment).  This one will load the spreadsheets to the ACF/HHS AWS Oracle DB.  In this path, I think we need to turn off the data replication from vendor's Oracle to ACF/HHS AWS Oracle b

[2021-07-29 15:19] ninamak commented on #43
Thanks for the update!  Makes sense to me.  The only thing I was wondering
about, though, is this part: "we already tested out the path to do data
replication from vendor's Oracle to ACF/HHS AWS Postgres."  This will be
true, but we will have only tested with the data in the dev db, right?  I
recall the point being raised that that data may not be terribly
representative of real world data, in ter

[2021-07-29 16:19] #31 closed

[2021-07-29 16:19] #110 closed

[2021-07-29 18:16] alexsoble commented on #83
Oh hey! I think this is done! https://github.com/HHS/OPRE-RPM

[2021-07-29 18:16] alexsoble commented on #83
@ninamak Do you have write access? Can you add issues, comments, propose changes?

[2021-07-29 18:49] ninamak commented on #83
Looks like everything works!

[2021-07-29 18:49] #83 closed

[2021-07-29 21:33] carjug commented on #85
@amymok @alexsoble I was planning on just going with the latest version of Django (3.2.5). Is there any reason I shouldn't do this by y'all's estimation?

[2021-07-29 22:41] amymok commented on #85
@carjug Looking at [the LTS releases](https://www.djangoproject.com/download/#supported-versions), 3.2.x is the best option.  So yes, 3.2.5 sounds good!

[2021-07-29 23:34] amymok commented on #43
@ninamak Good question.  We are still trying to mimic that from the ACF/HHS AWS Oracle database, so if there's any abnormalities or weirdness, it should still be caught there when we load the spreadsheets.  It is just not at the vendor's database.  The Vendor's database and ACF/HHS AWS Oracle database should be a direct copy.

[2021-07-29 23:58] amymok commented on #43
@ninamak @carjug @alexsoble I pulled out the tasks list in the issue and answered them here.  Anything I should add or change here before I ask Sheila to take a look?

Details are documented in [the mural](https://app.mural.co/t/gsa6/m/gsa6/1626741896852/fb4e8c9b6906c1db77b4264d07e6f4edccfa1eed)

**Tasks**

- Document what we'd like to do that would ideally involve production data/databases.
  - I

[2021-07-30 16:15] ninamak commented on #43
LGTM!

How are you imaging Sheila will review all this?  Are you thinking you'd send her over some links to review async, or schedule time to walk her through what's there?  In the past, she's preferred something closer to you walking her through what she should pay attention to.  Let me know if you want any help ID'ing the parts we'd want to call out for her attention.

[2021-07-30 17:44] amymok commented on #43
@ninamak I am thinking about sending her this post, and just [specifically the summary comment](https://github.com/HHS/OPRE-RPM/issues/43#issuecomment-889533083).  I thought she wanted to know how she can help.  I think there are too much details in the actual approach that is not necessary for her to know all of that, but more importantly about how we will involve her every step as we are doing n

[2021-08-02 20:49] ninamak commented on #29
Alex shared Navigating ATOs deck with Emily, Sheila, et al 8/2.

Decision: we will draft the Intake Form, and we will submit it **after** the MAPS ATO is completed (in about 2 weeks) so that we don't split/complicate priorities.

Moving this back to "To Do" and will unassign so we can figure out who should take this on.

The DB migration testing work is starting around now, to start the clock on

[2021-08-02 21:19] ninamak commented on #33
In our Check In with Emily and Sheila today, it was requested that a time be scheduled next week to discuss this further.  @smcnu82 will catch Emily up to speed in the mean time.

Moving this back into To Do.

[2021-08-02 21:27] ninamak opened #114 "Investigate use of contractors to fill Tech Lead role"
### Goals
* Understand what's worked well, what hasn't when 18F partners have hired contractors to fill the Tech Lead role rather than feds.

### Tasks
- [ ] _Key pieces of work that will need to be done to accomplish our goal(s)_

### Additional Context
* OPRE does not have headcount to hire a fed Tech Lead but there's potential to hire an "On-Site Contractor."
* Many "On-Site Contractors" work a

[2021-08-02 21:31] ninamak commented on #102
[Draft vision](https://docs.google.com/presentation/d/1BxbDWAz5Ay2fnHSPEKa9votY-LoAYiwqXWxOBr6EwnY/edit#slide=id.ge5fd088427_0_10) sent to Naomi and Emily for feedback 7/26.

Received feedback 7/30.  Will schedule mtg to further workshop the vision.  Notes [here](https://docs.google.com/presentation/d/1BxbDWAz5Ay2fnHSPEKa9votY-LoAYiwqXWxOBr6EwnY/edit#slide=id.ge7648dedba_0_0).

[2021-08-02 21:58] ninamak opened #115 "Improve UX/Design onboarding materials"
### Goals
* As a project team without long-term UX/Design support, we want to be able to onboard new UX researchers/designers to the project efficiently so they can get up to speed and able to contribute quickly.

### Tasks
- [ ] Identify the types of info that would be helpful for a new UX/Designer to get up to speed.  For example:
  - User research
  - User personas
  - User scenarios / workflow

[2021-08-02 22:04] ninamak opened #116 "Develop an overview of the overall system's "To Be" state"
### Goals
* As a project team, we'd like to have an overarching understanding of what the new system will ultimately be expected to do so that:
   * We can break down the work and develop our roadmap
   * We always know what our work is laddering up to
   * We don't lose sight of why this work is important as we implement tiny details

### Tasks
- [X] Review interview notes and previous synthesis

[2021-08-02 22:12] ninamak opened #117 "Update repo name and grant access to Julia"
### Goals

- [ ] Update repo name to OPRE-OPS
- [ ] Grant Julia L access to this repo

[2021-08-02 22:14] alexsoble commented on #29
Alrighty, moving a task out of "Blocked" always feels good! 😄 🎉

[2021-08-02 22:26] ninamak commented on #111
Created [this spreadsheet](https://docs.google.com/spreadsheets/d/15MpMpSZWMhqMTJJ2akFdtuJy6f6iVJJriSmQ4ERAQ7E/edit?usp=drive_web&ouid=111990553817353771463) to structure the info I'd like to be able to capture.  May need to switch up formats when it comes to actually populating.

[2021-08-02 22:26] ninamak commented on #109
[UX/Design Onboarding Doc](https://docs.google.com/document/d/1dTe12ZsUzAHjrXwCehRdckPMOnPe66S-kHDLT6Hu3ik/edit)

[2021-08-03 14:04] juliaklindpaintner commented on #109
I think we're good on this task for now!

[2021-08-03 14:04] #109 closed

[2021-08-03 17:56] #117 closed

[2021-08-03 19:09] carjug commented on #43
LGTM, Amy!! 🚀

[2021-08-03 22:38] carjug commented on #85
Not totally sure the 4th task can happen without me just sharing my TTS sandbox credentials directly with other devs. @amymok do you have any ideas here?

[2021-08-05 19:11] ninamak commented on #111
Compiling notes [here](https://docs.google.com/document/d/1ZfdtFVgrXBwxWsH2ur_JtIcy5EslvlZYzqW2rPnZz-k/edit#heading=h.jx6c4p7y1xff).  Synthesizing [here](https://docs.google.com/spreadsheets/d/15MpMpSZWMhqMTJJ2akFdtuJy6f6iVJJriSmQ4ERAQ7E/edit#gid=1780400632).

[2021-08-05 19:13] ninamak commented on #108
Notes on the data model and user stories [here](https://docs.google.com/spreadsheets/d/15MpMpSZWMhqMTJJ2akFdtuJy6f6iVJJriSmQ4ERAQ7E/edit#gid=1780400632)

[2021-08-05 20:20] ninamak commented on #44
**Approach:** Understand the end-to-end workflow behind how a contract comes into existence and is executed against, since this is the bulk of the work.  Understand when and why staff need budget info during the course of this workflow.

**Notes on:**
* [The lifecycle of a contract](https://docs.google.com/document/d/13klhQjZ-jl2hy04pVTHF7Jp9TNCr_5naeH5Wd7RzSYQ/edit#) (synthesizing MAPS Inventory

[2021-08-05 20:20] #44 closed

[2021-08-06 16:58] carjug commented on #85
@amymok ready for review!

[2021-08-06 19:09] carjug commented on #85
@ninamak ready for your review, see https://opre-ops-test.app.cloud.gov/hello_world/

[2021-08-06 19:14] #62 closed

[2021-08-06 19:14] ninamak commented on #62
Not sure what this was a placeholder for

[2021-08-06 20:13] ninamak opened #119 "Re-compile user feedback based on specific workflows"
### Goals
* As we focus on building specific workflows/features (e.g., CAN Management, Project Management, Contract Management, etc), we want to have a repository of feedback about those features to help us capture user needs and inform our solutions.

### Tasks
- [ ] Populate [this spreadsheet](https://docs.google.com/spreadsheets/d/15MpMpSZWMhqMTJJ2akFdtuJy6f6iVJJriSmQ4ERAQ7E/edit#gid=1260451194

[2021-08-06 20:34] ninamak opened #120 "[8] Perform homogeneous migration of data with sample database (Oracle to Oracle)"
### Goals
* Test if we can use AWS DMS to migrate the data when the databases are in the same VPC and are of the same type (easiest case).

### Tasks
- [x] Migrate sequences/functions and triggers
- [x] Migrate data using AWS DMS

### Acceptance of Criteria
- The data in our Oracle DB matches the data in the sample DB, inc sequences/functions and triggers

### Resources
- @carjug to add

### Addit

[2021-08-06 20:43] ninamak commented on #85
Can confirm I can access it! :tada:
How would I confirm that someone who is not on the team cannot access it?

[2021-08-06 21:08] carjug commented on #85
Oh @ninamak the URL is public, the task above is meant to give access to the developers (I can also give you access if you have a cloud.gov account) to the cloud.gov dashboard for the application.

[2021-08-07 02:41] amymok commented on #108
@ninamak Is this also the task to gather production-like data that will look like MAPS1.0 data structure?

[2021-08-09 16:01] ninamak commented on #85
Ok, that was a misunderstanding then.  As we start building the app, let's keep an eye out for when we need to make the URL non-public and make sure we have a story for that.

[2021-08-09 16:49] amymok commented on #43
Closing this.  Will update Sheila with our approach.  In summary, we will ask Sheila to help us with creating production like data as we are implementing user stories.  We will let her know what we need as we go, no action for her right now.

[2021-08-09 16:49] #43 closed

[2021-08-09 19:13] alexsoble commented on #29
Notes from cowork today:

+ We have a visioning meeting for Ops tomorrow
+ That will inform the Product Brief
+ Product Brief answers many of the questions asked by the intake form
+ 18F to take a first pass at the intake form, Sheila to review
+ Alex likely to be 18F OCIO point person

[2021-08-09 19:14] alexsoble commented on #29
Next step is on @ninamak — Product Brief.

[2021-08-09 20:11] ninamak opened #121 "Prep share out of vision for Sept 1 All-Staff"
### Goals
* _What outcome(s) we are hoping to accomplish_

### Tasks
- [ ] _Key pieces of work that will need to be done to accomplish our goal(s)_

### Additional Context
* _Any additional information that would be useful to share about this work (e.g., dependencies, constraints, previous work that's been done, info already known, etc)_

### Resources
* _Links to useful related info (e.g., articl

[2021-08-09 20:18] ninamak commented on #53
Can write this once #102 and #37 are done

[2021-08-10 18:07] #85 closed

[2021-08-10 19:11] alexsoble commented on #96
@amymok @carjug How do we see ourselves tackling this one as an eng team? I would be happy to pick up this card and sketch out CI/CD flows.

Some of the Tasks listed, like managing dependencies, seem like they might be better as separate issues.

@amymok — feel free to assign this to me if you want me to push it forward, we can also discuss tomorrow during eng cowork.

[2021-08-10 19:14] amymok commented on #96
Thanks for picking this up @alexsoble.  Yes, if you can start it, and we can start talking about what you have and co-work on it some more together tomorrow!

[2021-08-10 19:55] carjug commented on #96
Yeah I agree with Amy! Let's talk about it tomorrow during co-work!

[2021-08-12 00:03] alexsoble commented on #96
During eng cowork we decided we could safely break the sub-tasks here into separate issues, doing that now!

[2021-08-12 00:10] alexsoble opened #123 "As a dev, I want to run the Django server locally"
### Goals

As a dev, I want to be able to run the Django server locally.

### Definition of Done

All three engineers can run the Django server on their local machines using the same documented commands.

### Tasks

- [x] Determine the right command to run the Django server locally and document
- [x] Debug any issues that crop up with the application locally
- [x] Potentially: add `settings.py` ov

[2021-08-12 00:11] alexsoble commented on #96
Broke out the settings task into #123 and added some notes.

[2021-08-12 00:13] alexsoble opened #124 "Decide on Python dependency management tool"
### Goals

We want to use open-source Python libraries for our project, what's the best way to manage those dependencies?

### Tasks

- [x] Review alternatives. Pipfile?
- [x] Make a decision

### Additional Context

Our "Hello World" app currently has a `requirements.txt` file.

### Resources

N/A so far.

[2021-08-12 00:14] alexsoble commented on #96
Broke the Python dependencies task into #124 and added some notes.

[2021-08-12 17:04] alexsoble commented on #87
@carjug We may need to do #86 first before we can build flake8 into the CI, but we could always add some initial config for flake8 with instructions for running it locally in the meantime!

[2021-08-12 17:05] alexsoble commented on #86
I'll update the issue body for this one, because we're now moved over to the HHS GitHub org! 🎉

[2021-08-12 17:08] alexsoble commented on #86
I think the next step here is to work with our HHS point of contact to get CircleCI talking to our repo.

[2021-08-12 17:14] carjug commented on #87
@alexsoble Yeah I was just realizing that! I'll get it setup locally first and then see where the CircleCI ticket is at.

[2021-08-12 18:03] alexsoble commented on #87
Sounds good! I'll pull in the CI ticket because I think getting that set up will unblock a lot of things!

[2021-08-12 18:03] alexsoble commented on #86
Pulling this one in!

[2021-08-13 16:28] alexsoble commented on #86
Scheduled an email to our HHS point of contact about this to go out first thing Monday.

[2021-08-13 19:06] ninamak commented on #96
@alexsoble Are #123 and #124 supposed to get added to this cycle, or are they awaiting prioritization for another cycle?

[2021-08-13 19:17] alexsoble commented on #96
I think we should add them to this cycle!

I got a little bit confused about how to do that on the GitHub board. Maybe in a future cowork we could walk the board together?

[2021-08-13 19:57] ninamak commented on #111
[Info on CANS compiled here](https://docs.google.com/spreadsheets/d/15MpMpSZWMhqMTJJ2akFdtuJy6f6iVJJriSmQ4ERAQ7E/edit#gid=1780400632).  Includes background on what are CANs and why do they matter, user stories, and the proposed data model.

[2021-08-13 20:00] ninamak commented on #108
[CAN info here](https://docs.google.com/spreadsheets/d/15MpMpSZWMhqMTJJ2akFdtuJy6f6iVJJriSmQ4ERAQ7E/edit#gid=1780400632).  Includes info about CANs, user stories, pain points, the data model, data sources, and open questions.

Prototype in AirTable for [CANs](https://airtable.com/tblC1gcLbcE5wou4Z/viwkZHevQYTEb1rRF?blocks=hide), which also required tables for [Personnel](https://airtable.com/tblPe

[2021-08-13 20:18] ninamak commented on #96
Definitely!  For now, I'll add them to the bottom of the To Do column and leave it to you to drag it up to the appropriate spot.

[2021-08-13 22:02] carjug commented on #90
<img width="989" alt="Screen Shot 2021-08-13 at 12 39 39 PM" src="https://user-images.githubusercontent.com/10871517/129422318-a6751573-bee7-4c9d-9407-7e3a3a0f3e5c.png">

Dependabot has been enabled on the repository, but I have yet to see it work yet. I merged a test PR with a package in the requirements.txt that is out of date and has a security vulnerability (according to this snyk page: https:

[2021-08-13 22:36] amymok commented on #71
I noted everything I did for this task in the [Database Migration Notes](https://docs.google.com/document/d/1-sC6CKvfy-M8Gx77HWGyCZmmO8ilUTgCyz1yeau1lu0/edit#heading=h.7pg4e9cnshrl).

Everything looks good to move forward to the next step.  It wasn't intuitive to verify because there's no criteria defined by the [sample DB](https://github.com/aws-samples/aws-database-migration-samples/tree/master/

[2021-08-16 18:00] #96 closed

[2021-08-16 19:24] ninamak commented on #72
Alternative accounts still have not been set up, but we have the permissions we need with our existing accounts.  So we're closing this out.  If things change, we can open a new issue.

[2021-08-16 19:24] #72 closed

[2021-08-16 19:26] ninamak commented on #40
Alex updated the chart.  Would be worth picking back up once we start the ATO process and see what additional details we can get, possibly ask for their org chart, etc.

[2021-08-16 19:26] #40 closed

[2021-08-16 19:43] ninamak commented on #114
Worth pursuing this route.  Would want to put in place some guidelines and processes to set this up well.  Would want to be involved in selection process -- making a good hire is key.  If we encounter something that doesn't bode well, would want to discuss alternative (e.g., training up an existing staff member).

Next step: discuss with Sheila

[2021-08-16 19:43] #114 closed

[2021-08-16 19:58] ninamak opened #127 "As a dev, I want to run the automated test suite locally"
### Goals

As a dev, I want to be able to run the automated test suite locally.

### Definition of Done

All three engineers can run an (empty/stubbed out) test suite on their local machines using the same documented commands.

### Tasks

- [x] Choose a test runner
- [x] Write a simple test that passes or fails
- [x] Document the command to run the tests
- [ ] Potentially: `settings.py` override f

[2021-08-16 22:42] alexsoble commented on #123
Updating this card based on some developer conversation

[2021-08-16 22:48] alexsoble commented on #127
Updated this based on some developer conversation

[2021-08-16 22:56] amymok commented on #91
@ninamak under Personnel, Role (multi-select), does that mean each personnel can have more than one role?

[2021-08-17 14:27] ninamak commented on #91
@amymok Below are responses to your questions.  FYI that I spent the most time working out requirements around the CANs table, and the requirements around Personnel and Agencies have been less worked out and are bare minimum to support the CANs table and start getting feedback.

Yes.  Currently, people in MAPS are only allowed to be assigned to one role, and it's a challenge because (for example)

[2021-08-17 15:09] ninamak commented on #71
@amymok Awesome documentation!  LGTM!

[2021-08-17 16:00] carjug commented on #71
I can't wait to hear about all this tomorrow! Looks good to me 🚢

[2021-08-17 18:31] carjug commented on #90
<img width="843" alt="Screen Shot 2021-08-17 at 12 31 00 PM" src="https://user-images.githubusercontent.com/10871517/129781184-7d66e763-3435-497a-abc9-e35267e5b69a.png">
Woo!!

Deleting Keras from the requirements.txt as it was just done as a test of dependabot

[2021-08-17 18:35] alexsoble commented on #123
Ooooh, we might want to look at https://buildpacks.io/, https://github.com/buildpacks/pack for this. Could let developers run the server locally using buildpacks very similar to the ones that will run on cloud.gov.

[2021-08-17 18:38] carjug commented on #90
@amymok @alexsoble @ninamak dependabot set up! verify at https://github.com/HHS/OPRE-OPS/pulls where you can see an automated dependabot PR for updating the django package.

[2021-08-17 18:49] alexsoble commented on #90
@carjug Woooohoooo! LGTM! As well as checking out the automated dependabot PR I took a look at https://github.com/HHS/OPRE-OPS/pull/128, looks good! 🎉

[2021-08-17 19:39] amymok commented on #90
Yay!  LGTM! 🎉 ❣️

[2021-08-17 20:04] alexsoble commented on #124
I'll pick this one up!

[2021-08-17 20:07] amymok commented on #91
@ninamak Thanks for the clarification.  I am mostly gathering information to see if there are more "caveats" we should implement.  If those info is unknown yet, that's totally fine!  Some more questions:

Roles: COR, Non-COR/Contractor, Team Leader, Division Director, Budget Officer, *Administrator*
- Do these roles dictate what access they have in the system?
- "Administrator", is this an adminis

[2021-08-17 20:43] alexsoble commented on #124
Relevant parts of the [cloudfoundry documentation](https://docs.cloudfoundry.org/buildpacks/python/index.html) for the Python buildpack:

...

[2021-08-17 22:57] alexsoble commented on #124
And here's what the [TTS Engineering Guide](https://engineering.18f.gov/python/#versions) has to say on the topic:

[2021-08-17 23:13] alexsoble commented on #124
☝️ Based on the above, it looks like {Pipenv} or {pip with pip-tools} are the two leading contenders.

Asked about this choice on Slack to see if I can draw out other relevant opinions/perspectives, because why not.

[2021-08-18 13:53] ninamak commented on #91
@amymok

Re: roles & personnel & users & permissions: We don't have requirements around all this yet.  Primary goal here was to have some dummy tables and dummy data so we could see what the Django Admin interface looks like.

To avoid scope creep, I'd suggest just keeping this as a Personnel table so that we don't have to answer questions about user roles & permissions yet.  And we can keep the P

[2021-08-18 16:11] carjug commented on #71
I'd say this one can be moved to "Done"!

[2021-08-18 16:25] ninamak commented on #90
I don't have much to add here, so if everyone else is 👍 , then LGTM!

[2021-08-18 16:26] #90 closed

[2021-08-18 16:40] alexsoble commented on #86
Handing this over to @carjug since I'll be OOO for a couple days this week.

[2021-08-18 17:15] ninamak commented on #121
Won't be sharing at Sept 1 All Staff (maybe Oct 6), so moving this out of our cycle for now.

[2021-08-18 17:41] alexsoble commented on #124
We met up this morning and made an engineering team decision to use Pipenv because of its security features, cloudfoundry support, and positive developer experience reviews from devs on and off the team. :gavel:

[2021-08-18 17:48] alexsoble commented on #124
Will break out the "decision" and "set up" into separate issues here to have smaller and more atomic issues.

[2021-08-18 17:59] #71 closed

[2021-08-18 20:05] alexsoble opened #132 "[4] As a dev, I want to manage Python dependencies using Pipenv"
### Goals

Set up Python dependency management using Pipenv

### Tasks
- [x] Switch from using pip for Python dependencies over to Pipenv
- [x] Document how to add a new Python dependency using Pipenv

### Acceptance Criteria
- [x] Verify the app works locally
~~- [ ] Verify the app works on cloud.gov~~

### Resources

https://blog.dennisokeeffe.com/blog/2020-07-04-abcs-of-pipenv

### Notes

This

[2021-08-18 20:07] alexsoble commented on #124
Broke out the setup piece into #132.

[2021-08-18 20:11] alexsoble commented on #124
☝️ @amymok and @carjug and @ninamak — any objection to moving this card to "Done"?

[2021-08-18 20:57] carjug commented on #124
LGTM!

[2021-08-19 04:30] amymok commented on #91
@ninamak

Yes.  I am breaking it out into two models in the database, CAN Info (which is those info that is the same across fiscal year). and CAN Amount (which is those amount and other fields you mentioned that's different).  For the admin interface, we can have a display model that combines both models together for admin to edit all in one place.

For Source right now, I am going to keep it mult

[2021-08-19 04:37] amymok commented on #91
I have created a [spreadsheet](https://docs.google.com/spreadsheets/d/190drEOaOFH7cwCBM7eNB6vmnjICDiiShQiut7B55HCY/edit#gid=1007464314) to keep track of all the models.  In addition, a corresponding [ER diagram](https://docs.google.com/drawings/d/106BT0UIW_-zmocmNWMoGbe4nVmHGU1fYfsQWnTccsiI/edit) to visualize their relationships.

These are ready for review.  @ninamak I am happy to walk you throug

[2021-08-19 15:31] ninamak commented on #91
@amymok FYI that I've been gathering questions we have about requirements [here](https://docs.google.com/spreadsheets/d/15MpMpSZWMhqMTJJ2akFdtuJy6f6iVJJriSmQ4ERAQ7E/edit#gid=1780400632) (starting at row 79) and have been incorporating questions that you raised, though I may have missed some.

I noticed the spreadsheet has some of the same questions that are in this thread, but without the response

[2021-08-19 16:37] amymok commented on #124
Agreed!  This is "Done"!

[2021-08-19 16:40] amymok commented on #91
@ninamak Nice, thank you!  Yes, it seems more fitting to include in your document.  I will take a look to see if there's more.

[2021-08-19 16:48] amymok opened #133 "[4] View agencies"
### User Story
As a user, I will want to know the agency that provided CAN money and whether they need to authorize requisitions that use that CAN.

### Conditions of Acceptance
- [x] I can use Django Admin in the dev environment to see a list of agencies (based on dummy data).
- [ ] It would be ok if the PM can only view the interface on a dev's local.

### Tasks
- [x] Implement Agency model base

[2021-08-19 16:55] amymok opened #134 "[4] View roles"
### User Story
* As a user, I want to see a list of Roles as they relate to CAN Management (realistic-looking dummy data).
* As a PM, I want to use this view to facilitate conversations about OPRE roles vs user types.

### Conditions of Acceptance
- [x] I can use Django Admin in the dev environment to see a list of roles (based on dummy data).
- [ ] It would be ok if the PM can only view the inter

[2021-08-19 16:56] amymok opened #135 "Implement Division model"
### Goals
* Implement Division model

### Tasks
- [ ] Implement Division model based on [Division tab](https://docs.google.com/spreadsheets/d/190drEOaOFH7cwCBM7eNB6vmnjICDiiShQiut7B55HCY/edit#gid=543238299)

### Additional Context

- [Database Models Spreadsheet](https://docs.google.com/spreadsheets/d/190drEOaOFH7cwCBM7eNB6vmnjICDiiShQiut7B55HCY/edit#)
- [ER Diagram](https://docs.google.com/drawin

[2021-08-19 17:07] amymok opened #136 "[4] View people"
### User Story
* As a user, I want to see a list of people and their role(s) as they relate to CAN Management (realistic-looking dummy data).

### Conditions of Acceptance
- [x] I can use Django Admin in the dev environment to see a list of people (based on dummy data).
- [ ] It would be ok if the PM can only view the interface on a dev's local.

### Tasks
- [x] Implement Person model based on [Pe

[2021-08-19 17:08] carjug commented on #91
Hi Amy!! This all looks good to me. The only question I still have is about the need for a Division table. It doesn't seem like those things would change/need to be updated that often in order to justify its own table. Wondered if we could get clarity on this?? Thanks for the good. thorough work here!

[2021-08-19 17:16] amymok commented on #91
@carjug Thanks for the reminder!  Will discuss.  I will still research a little bit more about having multiple roles.  I may just stumble upon a possible alternatives that can allow us to start multiple choices.  Will update here soon.

[2021-08-19 17:22] amymok opened #137 "Implement CAN Info Model"
### Goals
* Implement CAN Info model

### Tasks
- [ ] Implement CAN Info model based on [CAN Info tab](https://docs.google.com/spreadsheets/d/190drEOaOFH7cwCBM7eNB6vmnjICDiiShQiut7B55HCY/edit#gid=1853066578)

### Additional Context

- [Database Models Spreadsheet](https://docs.google.com/spreadsheets/d/190drEOaOFH7cwCBM7eNB6vmnjICDiiShQiut7B55HCY/edit#)
- [ER Diagram](https://docs.google.com/drawi

[2021-08-19 17:43] ninamak commented on #91
Responding to:

Divisions (and roles) are unlikely to change very often, though they may change occasionally as the organization grows, and there is some chance that OPRE may make some changes in the next year or two.

[2021-08-19 22:45] amymok opened #138 "Implement CAN Amount Model"
### Goals
* Implement CAN Amount model

### Tasks
- [ ] Implement CAN Amount model based on [CAN Amount tab](https://docs.google.com/spreadsheets/d/190drEOaOFH7cwCBM7eNB6vmnjICDiiShQiut7B55HCY/edit#gid=979139056)

### Additional Context

- [Database Models Spreadsheet](https://docs.google.com/spreadsheets/d/190drEOaOFH7cwCBM7eNB6vmnjICDiiShQiut7B55HCY/edit#)
- [ER Diagram](https://docs.google.com/

[2021-08-20 15:07] ninamak commented on #91
@amymok I was thinking about the validation checks on the Amounts and thinking we should wait on implementing any at all.  I have 2 reasons for this:

1. We haven't even confirmed with users beyond Sheila that these are the right Amounts to be showing people
2. We haven't incorporated spending yet and the impact that should have on these amounts

I'm in particular thinking of one scenario Sheila t

[2021-08-20 21:12] amymok commented on #135
We will not make Division a model for now.  This information will be with Person model.

[2021-08-20 21:12] #135 closed

[2021-08-20 21:21] amymok commented on #91
After discussion with @ninamak today.  Here're my recommendations:
- We will not implement Division as a model at this point.
  - Since there's no additional information more than an abbreviated name for now, and it is infrequently enough that we will validate later if there's a use case to actually turn this into a table.
- We will still implement Role as a model because Person can have multiple

[2021-08-23 14:13] #108 closed

[2021-08-23 14:13] #111 closed

[2021-08-23 14:39] juliaklindpaintner commented on #116
I think this goes hand in hand with #119 and a new goal of doing some site mapping.

- [x] Review interview notes and previous synthesis
- [ ] Document existing sitemap
- [ ] Braindump of all the jobs MAPS has to do
- [ ] Organize along workflows (to the extent possible)
- [ ] Come up with 1+ potential new sitemaps

[2021-08-23 14:39] ninamak commented on #91
LGTM!

[2021-08-23 14:45] juliaklindpaintner commented on #18
I suggest we edit this to reflect a smaller scope:

- [x] Align on the goals, audience, and channels for a communication plan
- [ ] Draft initial communication plan
- [ ] Review plan with partner

A separate card should be set up to capture creating the resource box and drafting the first emails.

I think these items will go into a fleshed out version of #107
- Define questions in priority researc

[2021-08-23 14:47] juliaklindpaintner commented on #115
I _think_ this may be a thing that we do more gradually. It doesn't feel like a super useful thing to prioritize as a task in and of itself, but I think we can do this as we do other work, to some extent. I think I'm starting that work as I add to/reorganize the onboarding doc. I would keep this on a slow burn.

[2021-08-23 15:26] carjug commented on #91
LGTM, Amy!

[2021-08-23 18:20] ninamak opened #139 "Decide on and set up a resource box for OPS-related communications to OPRE staff"
### Goals
* As a project team, we would like to have a centralized email address from which OPS-related emails are sent so that staff who are interested in the subject can easily identify official communications about it.
* As a project team, we would like to have a centralized email box so that staff know where to send questions or comments and so that we have a record of all such communications.

[2021-08-23 18:21] ninamak opened #140 "Draft initial comms to OPRE staff about OPS"
### Goals
* Draft initial communications to OPRE staff about OPS ahead of Oct 6 All Staff share out.

### Tasks
- [x] Draft Launch message
- [x] Draft Oct 6 reminder meesage
- [x] Share with Sheila for feedback
- [x] Share with Emily and Camille for feedback

### Additional Context
* #18

[2021-08-23 18:23] ninamak commented on #18
@juliaklindpaintner Thanks for that break down!
- This issue has been updated to reflect the smaller scope
- #139 and #140 have been stubbed out to start executing on the comms plans
- #107 has been updated

[2021-08-23 18:23] ninamak commented on #107
Updated based on our conversation!

[2021-08-23 18:24] ninamak commented on #115
Updated based on our conversation!

[2021-08-23 18:24] ninamak commented on #116
Updated!

[2021-08-23 20:01] #124 closed

[2021-08-23 20:05] #91 closed

[2021-08-23 21:00] ninamak opened #141 "Implement basic authorization"
### Goals
* Before we start adding data and views to our new app, we want to restrict who can access the app.

### Tasks
- [ ] Create a placeholder user role/type who can log in to the Admin interface
- [ ] Create users for each person on this team and assign them to that user role/type

### Conditions of Acceptance
* Everyone on this team (inc Sheila) can set up their password
* Only people on th

[2021-08-23 21:31] ninamak commented on #92
Replaced by feature-specific stories

[2021-08-23 21:31] ninamak commented on #137
Covered by #93

[2021-08-23 21:31] #137 closed

[2021-08-23 21:32] ninamak commented on #138
Covered by #93

[2021-08-23 21:32] #138 closed

[2021-08-23 21:32] amymok opened #142 "Django Basic Permission Spike"
### Goals
* Better understand Django basic permission functionalities and create tasks for #141

### Tasks
- [ ] Research Django basic permission for admin interface (including types of users/groups)
- [ ] Provide recommendation on what to implement for #141

### Additional Context
* #141

### Resources
* https://docs.djangoproject.com/en/3.2/ref/contrib/auth/#

[2021-08-24 17:45] carjug commented on #123
@alexsoble @amymok ready for review! feel free to pull down and test out according to the instructions in the README.

[2021-08-24 17:58] alexsoble commented on #123
@carjug Excellent, pulling it down and testing this out now!

[2021-08-24 18:25] amymok commented on #33
Based on conversation with Sheila yesterday, she wants to defer this conversation to after September.

[2021-08-24 20:08] alexsoble commented on #142
I think we said I'd pick this one up, right? 😄

[2021-08-24 20:47] amymok commented on #142
Yes, I assigned it to you!  And you are going to pair with Carly on this.

[2021-08-25 16:20] #123 closed

[2021-08-25 17:00] alexsoble opened #144 "[8] As a dev, I want my local buildpack to match the deployed buildpack as closely as possible"
### User story

As a dev, I want my local buildpack to match the deployed buildpack as closely as possible.

### Context

We got started using `pack` to manage buildpacks for local development in #123.

All 3 devs have a working local environment now that uses a Python buildpack!

However, right now we are using a Google provided buildpack; we might be able to specify a closer match to the deploye

[2021-08-25 17:51] alexsoble opened #145 "[8] As a dev, I want a local Postgres database that talks with my local Django server"
### User story

As a dev, I want a local Postgres database that talks with my local Django server.

### Tasks

_One approach could be ..._

- [ ] Set up a Docker image that runs Postgres locally
- [ ] Create a Django settings file for local development that points to the Dockerized Postgres
- [ ] Document how to run this service as part of local development

*Other approaches might be ...*

- [ ]

[2021-08-26 17:36] #145 closed, assigned to carjug

[2021-08-27 21:58] #144 closed, assigned to nobody

[2021-08-30 19:44] ninamak opened #157 "[ALTERNATE to #93] View CAN info and money"
This is a proposed alternate to #93 that would have us start with the CANs tables, and then work our way towards adding the Agency and Persons tables.  Rationale: this would allow us to more quickly see the Django Admin interface in real life for our core user story (I want to see CAN info) and expose a bunch of unknowns about it.

### User story
As a PM/PO, I want to see what it would look like t

[2021-08-30 19:45] alexsoble commented on #93
Discussing this issue in Grooming with @ninamak. Nina is thinking that CANs are probably the most high value data for Sheila to start seeing and interacting with in development mode. For that reason, @ninamak is proposing a flow something like:

1. tackling CANs views first without all of the Agency, People, Roles relationships in place
2. next, implement Agency, People, Roles tables and views
3.

[2021-08-30 19:51] alexsoble opened #158 "As a dev, I want separate Django settings for local/cloud environments"
### User story / goals

As a dev, I want the application code to connect to our Postgres database in the cloud.gov environment.

[2021-08-30 21:44] ninamak opened #159 "[Alternate to #133] View Source and Authorizer for CANs (based on dummy data)"
This is a proposed alternate to #133 that would have us build off of basic CANs tables (#157 ) to add additional fields and tables to support additional user stories.

### User story
As a staff member of OPRE, I want to know where the CAN money originated from so that I can track who my research partners are.

As a staff member of OPRE, I want to know if the agency who provided the CAN money also

[2021-08-31 16:08] alexsoble commented on #33
Confirmed with our OPRE partners today that we won't be sharing. Cost savings are small; software tools are (often) team; developer and PM and PO time is (often/usually) expensive and a rare commodity. OPRE will get its own Org.

[2021-08-31 16:08] #33 closed

[2021-08-31 16:19] #132 closed

[2021-08-31 18:12] alexsoble opened #162 "As a dev, I want Django Admin static assets served correctly in cloud.gov environments"
### Goals
As a dev, I want Django Admin static assets served correctly in cloud.gov environments.

### Tasks
- [ ] _Key pieces of work that will need to be done to accomplish our goal(s)_

### Additional Context
* _Any additional information that would be useful to share about this work (e.g., dependencies, constraints, previous work that's been done, info already known, etc)_

### Resources
* _Li

[2021-08-31 18:34] alexsoble opened #163 "[2] As a dev, I want to make sure that only libraries we are really using are included in our Pipfile"
### Goals

As a dev, I want to make sure that only libraries we are really using are included in our Pipfile

### Tasks
- [ ] _Key pieces of work that will need to be done to accomplish our goal(s)_

### Additional Context
* _Any additional information that would be useful to share about this work (e.g., dependencies, constraints, previous work that's been done, info already known, etc)_

### Reso

[2021-08-31 20:02] ninamak commented on #102
Vision as stated in the Product Brief approved!

[2021-08-31 20:02] #102 closed

[2021-08-31 21:20] alexsoble opened #164 "As a dev, I want to use a secure webserver in prod instead of `runserver`"
Thanks for maintaining the note about not using `runserver` in prod!

_Originally posted by @carjug in https://github.com/HHS/OPRE-OPS/pull/156#discussion_r699667990_

[2021-08-31 21:20] #158 closed

[2021-08-31 23:00] alexsoble commented on #133
@carjug is picking this one up, we're excited to move into implementation world! 🎉

[2021-08-31 23:02] alexsoble commented on #86
We should be unblocked here! I'll pick it up, I'm focusing on infra tasks and it's the top-priority one right now.

[2021-08-31 23:37] alexsoble commented on #157
@ninamak Synced up on this with the eng team: we think the original set of stories will get us where we're going faster than this alternate path. It will involve less re-work, since it will be simpler to start at the "edges" of the entity relationship diagram and work our way in. Ultimately, we know we need all of these database tables regardless of the order in which we tackle them. Let's discuss

[2021-09-01 15:00] ninamak opened #166 "Meet with Randeep to get a sense of normal post-intake process"

[2021-09-01 18:48] alexsoble commented on #120
Talking with @amymok about some smaller sub-tasks that ladder up to this work, one of them seems like:

"As a dev, I want to know the specific Oracle user privileges for the target database to be able to copy in the schema from a source database."

[2021-09-01 20:57] ninamak commented on #133
@carjug I tried to update this card to include a user story and CoAs, though it's a little awkward since this is more of a technical task in support of a user story captured elsewhere.  It's not intended to change anything about what work you were planning to do, but let me know if it does!

[2021-09-02 14:34] ninamak opened #168 "Define metrics of success for OPS"
### Goals
* We want to have metrics we can track (baseline and deltas) that will help us answer whether we're having the impact we expected.

### Tasks
- [ ] Work with Sheila to define metrics based on the desired impact described in the [Product Brief](https://docs.google.com/document/d/1e5h2M7n2fDhxjawVAlvXgGQypVLnaMKu0-Z42m5sUYg/edit#heading=h.4i3iiwjf4l23)
- [ ] Work with Emily and Camille to

[2021-09-02 15:43] carjug commented on #133
@ninamak It's all clear to me!

[2021-09-02 16:31] alexsoble opened #169 "As an OPS team member, I want more clarity on how we work together across roles (PM, Eng, Design)"
### Goals

+ Bring OPRE OPS team members more alignment and clarity how we can support each other in our different roles (PM, Design, Eng), be good teammates to each other across roles, and collectively build OPS together.
+ Without documentation and alignment on how we'll work together, we run the risk of misunderstanding or disappointing each other, because of different expectations of how our f

[2021-09-02 18:45] alexsoble opened #170 "[8] Set up continuous deployment to the development site"
### Goals
* Set up CircleCI for continuous deployment to our development app
* Implement deploy via git tag as specified in: https://github.com/HHS/OPRE-OPS/blob/main/docs/how_we_work/deploy_flow.md#continuous-deployment-to-dev

### Tasks
- [ ] Add workflow to trigger a deploy to development app via git tag
- [ ] Create a service instance with deploy keys in cloud.gov; pass keys to CircleCI for co

[2021-09-02 18:58] alexsoble commented on #29
@ninamak in a "doer" role, @alexsoble in a reviewer role on this next cycle.

[2021-09-02 22:55] alexsoble commented on #86
We may still be blocked here :/

[2021-09-03 14:37] ninamak opened #171 "Test"
test

[2021-09-03 14:38] #171 closed

[2021-09-03 17:03] carjug commented on #133
Ready for review @alexsoble @amymok

[2021-09-03 17:19] ninamak commented on #139
Wont do.  Decided to use OPRE-Hub instead or have emails come directly from Emily/Naomi

[2021-09-03 17:19] #139 closed

[2021-09-03 18:49] ninamak commented on #18
@juliaklindpaintner Is this one ready to close?

[2021-09-03 21:44] amymok commented on #120
@alexsoble The subtasks you listed actually belongs to #74.  Moving it there.

[2021-09-03 22:04] amymok commented on #74
I migrated the database using two methods, and they are now in the target Oracle database.  Notes and screenshots are documented in [Steps to migrate database schema (Oracle to Oracle) section in Database Migration Notes](https://docs.google.com/document/d/1-sC6CKvfy-M8Gx77HWGyCZmmO8ilUTgCyz1yeau1lu0/edit#heading=h.yrghlqb0cz00)

In the section on [Verify Oracle target database](https://docs.googl

[2021-09-07 19:23] #18 closed

[2021-09-07 19:49] ninamak commented on #166
Sheila will ask Jy'nan to see what info she has, and then to schedule this meeting.

FYI: There's a new security person starting for OPRE who may be picking up this system (taking over for Jy'nan) -- not confirmed.  Either this person or Jy'nan would be handling the OCIO relationship, rather than Sheila.

[2021-09-07 19:50] ninamak commented on #168
Sheila requested that Nina set up a mtg to discuss

[2021-09-07 19:51] ninamak commented on #140
Sheila suggests drafting the first set of messages together so Emily and Camille can edit at once and ensure continuity.
* Launch announcement
* Reminder about Oct 6 mtg

[2021-09-09 16:35] alexsoble commented on #133
Reviewed and approved with @ninamak synchronously! 👍 👍 🚀

[2021-09-09 16:42] alexsoble commented on #134
LGTM! 👍

[2021-09-09 18:07] alexsoble commented on #169
@ninamak We'll need to do fair amount of coworking on this one, since one of the big tasks is sketching out our current flows and processes for how we get work from idea to done.

I booked us an hour tomorrow, we have an hour on the books already for Monday, and maybe we can use some of next week's coworking time if needed. Appreciate your time and help on this!

[2021-09-09 18:25] alexsoble commented on #163
Pulling this one in because Dependabot is opening a bunch of PRs to update libraries that I don't think we're using.

[2021-09-09 19:01] alexsoble opened #177 "Switch to use alpine docker image for local development"
... as recommended by 18F engineering coworkers.

Alpine comes with more handy tools pre-installed, like `nc`.

And it's smaller and faster too:

https://nickjanetakis.com/blog/the-3-biggest-wins-when-using-alpine-as-a-base-docker-image

### Goals

* Faster and more convenient local development

### Tasks

- [ ] Specify an Alpine Python Docker image in our
- [ ] Remove the step in our Dockerfile t

[2021-09-09 20:06] alexsoble commented on #136
@carjug Following up on @ninamak's suggestion from this morning, how about we add a Task here saying something like:

"Add local test user to fixture data in order to make local development faster"?

[2021-09-09 20:32] carjug commented on #136
@alexsoble fine by me!

[2021-09-09 21:12] kbighorse commented on #177
fwiw, by the author in the comments:
"This was written almost 3 years ago. Nowadays I've been using the Debian slim base images for everything."
https://nickjanetakis.com/blog/the-3-biggest-wins-when-using-alpine-as-a-base-docker-image#comment-4760660006

[2021-09-09 21:31] kbighorse commented on #177
This one is built `FROM debian:bullseye-slim`:
https://github.com/docker-library/python/blob/master/3.9/bullseye/slim/Dockerfile

just a possibility

[2021-09-09 23:22] alexsoble commented on #134
FWIW my understanding from our meeting with @ninamak this morning was that this work is 👍 👍 and good to go from her POV!

[2021-09-13 19:54] ninamak opened #180 "Work with vendor to migrate DB?"
### Goals
* _What outcome(s) we are hoping to accomplish_

### Tasks
- [ ] _Key pieces of work that will need to be done to accomplish our goal(s)_

### Additional Context
* _Any additional information that would be useful to share about this work (e.g., dependencies, constraints, previous work that's been done, info already known, etc)_

### Resources
* _Links to useful related info (e.g., articl

[2021-09-14 04:13] carjug commented on #136
Ready for review! @amymok @alexsoble

[2021-09-14 14:07] ninamak commented on #93
@carjug Yesterday, Sheila mentioned a slight tweak that would improve the CANs view.  For "name" ([row 3 on the CAN (Display Only) tab](https://docs.google.com/spreadsheets/d/190drEOaOFH7cwCBM7eNB6vmnjICDiiShQiut7B55HCY/edit#gid=1040321356)), the requirements currently ask for this to be a concatenation of "number" + "nickname".  Could we also add "fiscal year"?  So, for example, a name might be "

[2021-09-14 16:41] carjug commented on #93
@ninamak should be easy enough!

[2021-09-14 18:14] carjug commented on #74
@amymok so sorry this fell off my radar! Can you remind me again what the resources I should fill out in the body are?

[2021-09-14 18:50] amymok commented on #74
@carjug I don't remember either!  I will just add a link to the AWS instruction I used!

[2021-09-14 22:23] carjug commented on #74
LGTM, Amy!

[2021-09-14 22:26] alexsoble commented on #136
Hmmmm, I think we still need @ninamak's review and sign-off tomorrow though? I'll re-open and add Nina's label.

[2021-09-14 22:27] carjug commented on #136
@alexsoble ohh yeah, it auto-closed the ticket because the PR was linked.

[2021-09-14 22:29] alexsoble commented on #136
Yep!

[2021-09-14 22:29] #134 closed

[2021-09-14 22:29] #133 closed

[2021-09-15 17:04] carjug commented on #136
Add role in display

[2021-09-15 19:52] alexsoble opened #183 "Establish VPC Peer Connection with two VPCs"
### Goals

* Derisk the ask we'll make to the vendor, to migrate an Oracle database across different VPCs using DMS

### Tasks
- [x] Review and understand [VPC Peering](https://docs.aws.amazon.com/vpc/latest/peering/what-is-vpc-peering.html)
- [x] Add second VPC (Reuse the VPC from previous db work)
- [x] [Set up VPC Peer Connection](https://docs.aws.amazon.com/vpc/latest/peering/create-vpc-peerin

[2021-09-15 23:30] carjug commented on #136
Hey @ninamak, we fixed the bug in not displaying the roles on the Person display list. Will demo tomorrow for your final sign off!

[2021-09-17 19:48] alexsoble opened #184 "Discuss test data needs for local development"
**Needs to be fleshed out**

### Goals

* A developer can pull down the code and have test data to explore and work with that will populate automatically into their local database. That data should be fake data as opposed to public records data.
* A developer can test that their code meets conditions of acceptance locally.
* A developer can run automated tests locally.

### Tasks

- Have a convers

[2021-09-17 19:55] alexsoble opened #185 "Update fixtures"
### Goals

* Update our fixture data to use fake data instead of public records for local development.

### Tasks

- [ ] Decide on either using a simple commit for the update, or a rebase/squash strategy
- [ ] Update the fixture data

[2021-09-17 20:00] #136 closed

[2021-09-17 20:11] alexsoble opened #186 "[Spike] Evaluate CircleCI alternatives"
### Goals

Find out if there are good alternatives to CircleCI as our continuous integration tool.

### Tasks

- [ ] Evaluate GitHub Actions as an alternative including: compliance, ease of setup, stability/quality
- [ ] Gut check if there are other alternatives we should be considering??
- [ ] Present findings to team
- [ ] Document

### Additional Context

[ADR #008](https://github.com/HHS/OPRE-

[2021-09-17 20:15] alexsoble opened #187 "As a dev, I want my new PRs to come with a template"
### Goals
* Devs proposing new code know what info to include in PRs
* Reviewers reviewing code know what info they will use to review

### Tasks
- [ ] Write a proposed PR template
- [ ] Share with eng team
- [ ] 🚢

### Additional Context
* _Any additional information that would be useful to share about this work (e.g., dependencies, constraints, previous work that's been done, info already known,

[2021-09-17 20:18] alexsoble commented on #163
We did this via #176!

[2021-09-17 20:18] #163 closed

[2021-09-17 20:27] alexsoble opened #188 "Evaluate if we want to update our DB migration plan"
### Goals

Evaluate if we want to update our DB migration plan or keep it as-is

### Tasks
* [ ] Summarize what we've found/learned so far about AWS Database Migration Service
* [ ] Evaluate pros/cons/alternatives
* [ ] Decide if we want to update database migration plan

### Additional Context
* _Any additional information that would be useful to share about this work (e.g., dependencies, constra

[2021-09-18 00:23] carjug commented on #93
@amymok @alexsoble ready for review when y'all are :)

[2021-09-18 04:16] amymok commented on #120
I completed the process and noted the process in the [Steps to migrate (Oracle to Oracle) section](https://docs.google.com/document/d/1-sC6CKvfy-M8Gx77HWGyCZmmO8ilUTgCyz1yeau1lu0/edit#heading=h.akd6e7ktjn8v). @carjug @ninamak Ready for review.

cc @alexsoble

[2021-09-20 13:04] ninamak commented on #74
@amymok Is there anything in particular it would be helpful for me to pay attention to when reviewing?  I read through the doc (super comprehensive!), and if the other devs feel it meets their needs, then LGTM!

The only thing I can think of: in the "Additional Context" section of this card, it says that some of the overarching goals of this migration testing work include:

Identify more targeted

[2021-09-20 13:05] ninamak commented on #120
@amymok Same comment here as on #74 .

Is there anything in particular it would be helpful for me to pay attention to when reviewing?  I read through the doc (super comprehensive!), and if the other devs feel it meets their needs, then LGTM!

The only thing I can think of: in the "Additional Context" section of this card, it says that some of the overarching goals of this migration testing work in

[2021-09-20 13:08] ninamak commented on #168
Update: Co-worked with Sheila on this 9/14 ([doc here](https://docs.google.com/document/d/17bIWmOx5BZBYs52xYR6Ep77x3fe3iBXpw4tHLpLUweI/edit#heading=h.u381a6u2hi5p)).

Next step: refine, then review with Emily et al (tentatively scheduled for 9/21)

[2021-09-20 13:26] ninamak commented on #166
Update: Met with Sheila, Jy'nan, Abdul 9/15.

Key takeaways:
* Abdul will be supporting OPS, with backup from Jy'nan
* In addition to the OCIO Intake Form, also be prepared with PIA
* Jy'nan will forward us the latest OCIO Intake Form (in case it changed from the version we have), and Aaron (OPRE's privacy guy) will connect with us about PIA
* Expect the main questions to be about:
  * the connect

[2021-09-20 13:29] ninamak commented on #166
@alexsoble @amymok @carjug Above is a run down of what was discussed/learned about the Intake Process and what happens next.  I've listed you as reviewers; can you just remove your label once you've had a chance to read?  And please drop any questions you may have here or in running notes, whichever seems more appropriate.

[2021-09-20 13:31] ninamak commented on #29
Based on #166 ([this update](https://github.com/HHS/OPRE-OPS/issues/166#issuecomment-922927257) specifically), we will not submit the intake form this cycle, so I am removing it from our board.

[2021-09-20 14:56] #140 closed

[2021-09-20 18:15] alexsoble commented on #169
We didn't end up prioritizing this last cycle so we didn't make major progress.

Going forward, I'll break this into smaller pieces so that we have a higher chance of finishing a piece of this work each cycle.

[2021-09-20 18:18] amymok commented on #120
@ninamak Thanks for pointing those out.  Yes. this card helps with that, but I haven't been documenting everything since I am still in the process.  I do plan to add a new card after I finish with #183 to have a more comprehensive list of the needs.

[2021-09-20 18:23] alexsoble opened #189 "As an OPS team member, I want to read about our team meetings/ceremonies"
### Goals

As an OPS team member, I want to read more about our team meetings/ceremonies so that I can ...

* refresh myself on the goal and intention of each meeting
* evaluate if our meetings are going well or not
* do a gut check to see if we need to adjust our meeting content or cadence

### Tasks
- [ ] Bring together interested team members to talk about our current meeting/ceremony cadence
-

[2021-09-20 18:43] ninamak opened #190 "Refine CANs Data Model"
### User Story
As an OPRE manager, I would like to see some tweaks to the CANs data model to better reflect the language we use and how we do our work.

### Conditions of Acceptance
- [x] "Amount Budgeted" is renamed to "Total FY Funding"
- [x] "Additional Amount Anticipated" is calculated as the difference between "Total FY Funding"  and "Amount Available"
- [x] A new field exists, "Potential Add

[2021-09-20 18:46] ninamak opened #191 "Prep user stories and requirements for Projects and Agreements"
### Goals
* _What outcome(s) we are hoping to accomplish_

### Tasks
- [ ] _Key pieces of work that will need to be done to accomplish our goal(s)_

### Additional Context
* _Any additional information that would be useful to share about this work (e.g., dependencies, constraints, previous work that's been done, info already known, etc)_

### Resources
* _Links to useful related info (e.g., articl

[2021-09-20 20:14] #37 closed

[2021-09-20 21:28] ninamak commented on #189
FYI @alexsoble that documentation about our team meetings/ceremonies was being captured in the [Project ReadMe](https://docs.google.com/document/d/1UQGQBCoiUzHSdpvyLQrS5GtTtQXjNrKHYy3y_SXED1k/edit#heading=h.n3gtfyokdfav) (which predates our GH setup).  Totally happy for it to live in GH moving forward if that would be useful, but at least this way you don't have to start from scratch.

[2021-09-21 18:58] ninamak commented on #93
Recap of co-work convo on work remaining here:
* Incorporate PR feedback
* Create a list page with one row per CAN-FY, that looks like (has the columns displayed on) the [AirTable](https://airtable.com/appcKAO2OCBnHzgz8/tblC1gcLbcE5wou4Z/viwkZHevQYTEb1rRF?blocks=hide)
  * There is no need to be able to click into any of the list items
* Modify the list page of CANs to display the other columns tha

[2021-09-22 15:37] ninamak commented on #121
Notes on the outline [here](https://docs.google.com/document/d/1ZfdtFVgrXBwxWsH2ur_JtIcy5EslvlZYzqW2rPnZz-k/edit#heading=h.i2oy1h2a6cyn)

[2021-09-22 18:27] alexsoble commented on #188
Very Simplified Notes from Eng Cowork with @amymok on AWS Database Migration Service:

* AWS DMS can do migrations and replications.
  * Migration — initial transfer of data from source to target.
  * Replication — ongoing transfer of data from source to target.
* Replication instance is an EC2 instance that carries out the migration/replication.
  * Two endpoints, one for source and one for targe

[2021-09-22 18:38] alexsoble opened #192 "Verify if AWS DMS will work with source database version"
### Goals

Find out if AWS DMS will work with source database version our not.

### Resources

[AWS DMS docs: Verifying that AWS DMS supports the source database version](https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.Oracle.html#CHAP_Source.Oracle.Self-Managed.Configuration.DbVersion)

[2021-09-22 18:44] alexsoble commented on #183
@amymok What Oracle DB versions will you be using for the source and target databases in this test? Asking to see if this test can also help us answer #192.

[2021-09-22 19:42] alexsoble commented on #86
Meeting scheduled for tomorrow!

[2021-09-22 19:49] alexsoble commented on #120
Sounds like this work is complete and this issue can be closed out, am I right @amymok?

@carjug looks like the "Carly Review" label is still on the issue. Want to remove the label and close this out, unless you have questions or issues that you want to raise?

[2021-09-22 20:12] carjug commented on #120
It's good with me!

[2021-09-22 20:12] #120 closed

[2021-09-22 20:56] amymok commented on #183
@alexsoble Just rereading my notes:

When I ran `select * from v$version;` on vendor's test db, I got:
[code]

And the oldest version you can go on AWS for our limitation is:
- Oracle Standard Edition Two
- license-included
- Oracle 12.1.0.2.v2

This means there's a minor version difference here:
Vendor: 12.1.0.2.0 vs AWS Oldest available: 12.1.0.2.v2

Is that going to a major problem?  My guess i

[2021-09-22 21:16] amymok commented on #183
I am also moving #192 in and ahead of this card so we can make sure we should continue to proceed down this path.

[2021-09-22 21:54] alexsoble commented on #183
Oh wow, that is a verrrrry tiny version difference! 😂

Agreed with your instinct that this is unlikely to be a major problem.

Of course free to tackle this first or #192 first, whichever you think makes the most sense!

If #192 will be really hard to test or won't add much value, then we can drop it // close it out. Just wanted to surface that card as a potential "thing to verify" since it came u

[2021-09-23 00:43] amymok commented on #192
From [Using an Oracle database as a source for AWS DMS]:(https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.Oracle.html)

From the highlighted statement, I would assume that the vendor's Oracle database which is 12c Standard Edition Release 12.1.0.2.0, should be part of the support.

@alexsoble I tried the command in [AWS DMS docs: Verifying that AWS DMS supports the source database vers

[2021-09-23 00:54] carjug commented on #93
<img width="1439" alt="Screen Shot 2021-09-22 at 6 53 10 PM" src="https://user-images.githubusercontent.com/10871517/134440498-004e8682-3388-4e53-bbf1-803b5319c50f.png">
<img width="1438" alt="Screen Shot 2021-09-22 at 6 53 18 PM" src="https://user-images.githubusercontent.com/10871517/134440504-bdc86bf0-f90e-46dc-815c-86594afab981.png">

Hey @ninamak here are screenshots of the new table display

[2021-09-23 16:02] alexsoble commented on #192
@amymok Thanks for looking more into this and sharing these notes! If you feel comfortable proceeding based on the above, then I do too! Removing my review tag now. 👍 👍

[2021-09-23 19:04] alexsoble commented on #186
Learned more about this today and can provide a read-out to teammates during an upcoming cowork.

Also, RyanA is presenting on GitHub Actions tomorrow!

[2021-09-23 19:04] alexsoble commented on #86
Meeting moved to Monday.

[2021-09-23 20:43] carjug commented on #192
+1 to what @alexsoble said!

[2021-09-23 20:49] amymok commented on #192
Okay I am going to proceed with #183, and will close this card.

[2021-09-23 20:49] #192 closed

[2021-09-23 22:15] carjug commented on #166
LGTM, Nina. Thanks!

[2021-09-24 14:36] ninamak commented on #93
@carjug this list view LGTM!  thank you!  if there are changes that come out of the PR review that impact things, let me know and i can take another look.

[2021-09-24 15:00] ninamak commented on #116
[Here is a story board](https://app.mural.co/t/gsa6/m/gsa6/1630248640188/3105c3b385f17e2cedbc6c5bff2111ba59785520?sender=ninamak9326) depicting the elements that the new system will contain in the "first slice," as well as some of the functionality that's envisioned down the road.

[2021-09-24 18:02] juliaklindpaintner commented on #116
@ninamak I don't know if it matters, but I'd be inclined to change the last three checkboxes in the original ticket to something like:
- [x] Align on a common definition for "project"
- [x] Understand the relationship between projects and agreements
- [x] Diagram the relationships between different elements in MAPS & answer questions that arise
- [x] Create a storyboard of the full first slice of

[2021-09-24 18:04] juliaklindpaintner commented on #116
[Here is the mural](https://app.mural.co/t/gsa6/m/gsa6/1631633871588/53a7b80180aa8f340f80adafc1a69868c72125a3?sender=julialindpaintner1638) with diagrams showing the relationships between different elements in MAPS

[2021-09-24 18:30] #93 closed

[2021-09-24 18:31] alexsoble commented on #93
Removing my review label since I reviewed and approved the work, also removing @ninamak's and @amymok's since they did the same! 🎉 🚢

[2021-09-24 19:44] ninamak commented on #116
@juliaklindpaintner thanks for suggesting those changes!  i did notice that our tasks needed updating but hadn't gotten around to doing anything about it.  these are great!

[2021-09-27 16:22] alexsoble commented on #190
@ninamak I assigned this one to you for you to flesh out the details // conditions of acceptance, and you've done that, so I'm un-assigning you now! Thanks for fleshing this one out!

[2021-09-27 16:25] alexsoble commented on #190
@carjug One thought here as you get started -- I think we should probably rename the actual database fields here as well as the presentation layer. If we just change the presentation layer and keep the database fields the same, that could introduce confusion down the line. ("Why is this thing called X here but Y there?") You might be thinking the same, just wanted to say it out loud!

[2021-09-27 16:29] carjug commented on #190
Yes! Was planning on that :)

[2021-09-27 16:32] alexsoble commented on #190
@carjug OK great! Since it wasn't spelled out in the issue itself figured it couldn't hurt to overcommunicate a little 😂

[2021-09-27 17:03] ninamak commented on #121
Julia created a deck [here](https://docs.google.com/presentation/d/1etfuEjUv9T3S_RGPM8XHPa4FgBc9sLiupOTNvSqkjUc/edit#slide=id.gf2849ef514_0_0)

[2021-09-27 17:11] ninamak opened #193 "Design CAN interfaces"
### Goals
* As a product/development team, we'd like to see some sketches/designs for creating, editing, and viewing CANs.

### Tasks
- [ ] Write draft user stories/requirements for CANs (Nina)
- [ ] Sketch designs for creating a CAN
- [ ] Sketch designs for editing a CAN
- [ ] Sketch designs for viewing a CAN
- [ ] Sketch designs for viewing a list of CANs
- [ ] Sketch designs for exporting CAN i

[2021-09-27 17:13] ninamak commented on #193
@juliaklindpaintner Does this card adequately capture our conversation?

Also, I realized it will be easier for you to design these screens if you had user stories and requirements to go off of!  So I will write those up tomorrow and share with you.

[2021-09-27 17:25] juliaklindpaintner commented on #193
@ninamak Yes this looks good and user stories would be great!

[2021-09-27 18:22] alexsoble commented on #189
@ninamak Thanks, good pointer! I updated the tasks to reflect that. Scheduling some time for us to talk about Planning.

[2021-09-27 20:23] ninamak commented on #189
@alexsoble I'm realizing that I have a task on my To Do list that overlaps with this card.  I was supposed to rescheduled retros.  I think it makes sense to hold off on that and include it as part of this larger conversation.  Any objections?

[2021-09-27 21:27] carjug commented on #190
@alexsoble @amymok ready for your review when you get a sec!

[2021-09-27 22:20] carjug commented on #184
Hey @ninamak @alexsoble what exactly should this proposal include/what form should it take? Is a one-to-two sentence comment on this issue enough?

[2021-09-27 22:32] alexsoble commented on #184
That is a good question @carjug, I will defer to @ninamak here

[2021-09-28 04:21] amymok commented on #190
LGTM!

[2021-09-28 13:27] ninamak commented on #184
Not sure I can answer this question @alexsoble as this is the same question I was trying to ask you in our grooming mtg.  Happy to meet up to continue to talk through what would be useful here.  You indicated your calendar was pretty tight, so let me know when you have time.

[2021-09-28 15:00] ninamak opened #195 "Create a CAN"
### User Story
As a Budget Officer, I need to input CAN information from UFMS so that OPRE staff know what money is officially available.

### Background
* Money appropriated from Congress is bucketed into CANs (Common Accounting Numbers), and subdivided into funds, allowances, and allotments.  There are requirements/restrictions around what money is available for what purposes and who is authoriz

[2021-09-28 15:24] carjug commented on #190
@ninamak ready for your review. LMK if you'd like a live demo or if the screenshots below are enough.
<img width="1406" alt="Screen Shot 2021-09-27 at 3 00 29 PM" src="https://user-images.githubusercontent.com/10871517/135117185-d947b8fc-c1d8-484c-a33b-062008363757.png">
<img width="1427" alt="Screen Shot 2021-09-27 at 3 00 38 PM" src="https://user-images.githubusercontent.com/10871517/135117206-4

[2021-09-28 19:58] alexsoble commented on #86
Got CircleCI permissions turned on!

[2021-09-28 22:10] alexsoble commented on #186
I would like to provide a read-out to the whole team like this in one of our meetings, but we have a backlog of topics to cover! Will put it in the eng cowork agenda ...

I think it could be helpful to learn more about the compliance governing HHS GitHub Enterprise (the system I'm using to record this note), note-to-self-to-do-this-in-the-future-if-relevant.

[2021-09-28 22:21] alexsoble commented on #86
#126 ready for code review!

[2021-09-28 23:44] alexsoble commented on #187
Picking up this small card at the end of the day since other cards are awaiting review or discussion-based.

[2021-09-29 11:46] ninamak commented on #190
The screen shots are great @carjug -- LGTM.

[2021-09-29 15:56] #190 closed

[2021-09-29 16:37] alexsoble commented on #187
@ninamak, this adds a PR template and is ready for your review! PR here: https://github.com/HHS/OPRE-OPS/pull/196

[2021-09-29 18:52] alexsoble opened #197 "Get security team partner access to Google Drive"
### Goals
* _What outcome(s) we are hoping to accomplish_

### Tasks
- [ ] _Key pieces of work that will need to be done to accomplish our goal(s)_

### Additional Context
* _Any additional information that would be useful to share about this work (e.g., dependencies, constraints, previous work that's been done, info already known, etc)_

### Resources
* _Links to useful related info (e.g., articl

[2021-10-01 13:57] ninamak opened #198 "[Design] Edit a CAN"
### User Story
As a Budget Officer, I need to update CAN information as it becomes available.  In particular, I need to update when the money actually becomes available to OPRE so OPRE knows it can start spending those funds.

As a CAN Lead or Division Director, I need to update Potential Additional Funding to communicate amounts that I am negotiating so that others in OPRE know what to expect and

[2021-10-04 18:46] ninamak opened #199 "Refine CANs - Part 2"
### Conditions of Acceptance
~~- [ ] When more than one CAN Lead is assigned, I see them displayed in the order in which they were entered.~~
  ~~- [ ] When the people belong to different Divisions, I see the Divisions displayed in the same order as the CAN Leads~~
    ~~- Note: I'm not sure how much is worth investing in improving this here since this won't ultimately be the UI users see.  I'm in

[2021-10-04 21:35] ninamak commented on #187
@alexsoble Looks like this was already merged, but LGTM anyway!

[2021-10-05 15:57] #187 closed

[2021-10-05 15:57] #197 closed

[2021-10-05 18:51] carjug commented on #199
@ninamak I would say the first task is a bit more work than it's worth. I could spend today and tomorrow implementing it but I agree, given that the django admin is not going to be the UI, it's not worth investing the time/energy to do that on this particular page -- we can definitely do it down the line though.

[2021-10-05 19:36] ninamak commented on #199
@carjug Sounds good!  Thanks for that update.  I'll strikethrough that CoA.

[2021-10-06 16:18] alexsoble commented on #54
This should no longer be needed since we're now talking about OPS IPTs, not MAPS IPTs

[2021-10-06 16:24] alexsoble commented on #86
Hey, I think this one is done! via #126.

Passing CI build: https://app.circleci.com/pipelines/github/HHS/OPRE-OPS/14/workflows/dcfe364e-c351-4d00-9e5c-0b477122fdc1/jobs/14

[2021-10-06 16:31] alexsoble commented on #189
I'm going to close this one out — if other team members want to pick this topic/theme back up in the future, they can always re-open

[2021-10-06 16:31] #189 closed

[2021-10-06 18:59] carjug commented on #86
🎉

[2021-10-06 19:44] carjug commented on #199
<img width="1430" alt="Screen Shot 2021-10-05 at 12 46 56 PM" src="https://user-images.githubusercontent.com/10871517/136270898-123d9c0e-23aa-4239-bc66-54a5c07fa7b5.png">
<img width="1438" alt="Screen Shot 2021-10-05 at 12 47 05 PM" src="https://user-images.githubusercontent.com/10871517/136270905-4d0202b5-3508-4862-aede-aee0295ccb4a.png">

Screenshots for posterity!

[2021-10-09 04:18] amymok opened #202 "Perform schema migration Oracle to Oracle (Different VPCs)"
### Goals
* Derisk on how to do schema migration across different VPCs

### Tasks
- [x] Research to see if there's difference between schema migration across two VPCs
- [x] Research on how to perform schema migration if databases are not publicly accessible
- [x] Perform schema migration across two VPCs

### Additional Context
* _Any additional information that would be useful to share about this

[2021-10-09 04:30] amymok opened #203 "Perform data migration Oracle to Oracle (Different VPCs)"
### Goals
* Derisk on how to do schema migration across different VPCs

### Tasks
- [x] Research to see if there's difference between data migration across two VPCs
- [x] Research on how to perform data migration if databases are not publicly accessible
- [x] Perform data migration across two VPCs

### Additional Context
* _Any additional information that would be useful to share about this work (

[2021-10-09 04:33] amymok commented on #183
Completed and notes in [Database Migration Notes](https://docs.google.com/document/d/1-sC6CKvfy-M8Gx77HWGyCZmmO8ilUTgCyz1yeau1lu0/edit#heading=h.hsiqaktgp895)

Ready for review @carjug

cc @ninamak @alexsoble

[2021-10-09 04:41] amymok opened #204 "Draft up preliminary database migration needs from vendor"
### Goals
* Create a list of what we need from vendor if we were to perform database migration

### Tasks
- [x] Review Database Migration Notes to pull out questions we need to ask vendor
- [x] Review Database Migration Notes to pull out instructions we need to ask vendor to do
- [x] Draft up preliminary needs

### Additional Context
* _Any additional information that would be useful to share abou

[2021-10-09 04:43] amymok opened #205 "Draft up preliminary database migration needs from OCIO"
### Goals
* Create a list of what we need from partner's OCIO if we were to perform database migration

### Tasks
- [x] Review Database Migration Notes to pull out questions we need to ask partner's OCIO
- [x] Review Database Migration Notes to pull out instructions and work we need to perform in partner's OCIO AWS
- [x] Draft up preliminary needs

### Additional Context
* _Any additional informat

[2021-10-12 16:07] ninamak opened #206 "[Design] View a CAN"
### User Stories
**Budget Officers**
1. As a Budget Officer who has created or edited a CAN, I want to be able to see the CAN so I can verify the data was entered and stored correctly.
2. As a Budget Officer who has to report on or answer questions about a CAN, I want to be able to look up info about that CAN.
3. As a Budget Officer who has to calculate fees and shared costs, I want to be able to

[2021-10-12 19:19] carjug commented on #183
LGTM, Amy! 💟

[2021-10-12 20:01] ninamak opened #207 "[Design] View a list of CANs"
### User Stories

1. As a Budget Officer compiling budget reports (weekly/monthly/quarterly/annually/ad hoc), I need to be able to pull a list of CANs that meet my criteria.
    - Useful CANs to display by default:
      - This FY
    - Useful fields to display by default:
      - CAN Name, Description, Amount fields, Notes, maybe also CAN Lead, Division
2. As a Budget Officer creating a CAN, I ne

[2021-10-14 19:08] ninamak opened #208 "[Design] Create a Contract"
_This is a draft.  To be validated with PO.  My current thinking is that we should support an earlier stage of contract creation than is provided for here, rather than postponing that for later, so that we don't optimize designs for a workflow that we'll be discarding._

### User Story
As a Budget Officer, I need to enter contracts that have been awarded so that OPRE staff know what money has been

[2021-10-15 01:40] #183 closed

[2021-10-21 22:42] #202 closed, assigned to amymok

[2021-10-21 22:42] #203 closed

[2021-10-28 22:05] carjug opened #210 "As a dev, I want code coverage results reported in a place that is easily findable for those outside the development team"

[2021-10-28 22:05] carjug opened #211 "As a dev, I want separate django settings for CircleCI and local"

[2021-10-29 07:23] amymok opened #212 "Perform Schema Migration with MAPS (dev database)"
### Goals
* Understand and mitigate potential issues and risks when migrating the actual MAPS schema with test/production databases

### Tasks
- [x] Create an Oracle AWS RDS using similar spec as MAPS
- [x] Explore how we can migrate MAPS schema to TTS Sandbox AWS
- [x] Perform MAPS schema migration
- [x] Document how to perform MAPS schema migration
- [x] Document any questions, issues that arise

[2021-10-29 19:09] #127 closed

[2021-10-29 19:09] #88 closed

[2021-10-29 19:10] ninamak commented on #204
@amymok sorry, just realized this still has the "Nina Review" label on it.  As long as you and Carly feel like the documentation is sufficient for either of you to be able to have the conversation with the vendor if needed, 👍

[2021-10-29 19:11] ninamak commented on #205
@amymok sorry, just realized this still has the "Nina Review" label on it.  As long as you and Carly feel like the documentation is sufficient for either of you to be able to have the conversation with OCIO if needed, 👍

[2021-11-02 17:48] amymok opened #214 "Perform Data Migration with MAPS (dev database)"
### Goals
* Understand and mitigate potential issues and risks when migrating the actual MAPS data with test/production databases

### Tasks
- [x] Explore ways to dump data from vendor's database since we may not have enough access to their database to use DMS
- [x] Create an Oracle AWS RDS using similar spec as MAPS in another VPC in TTS AWS Sandbox
- [x] Migrate MAPS schema to another VPC
- [x]

[2021-11-04 17:08] amymok commented on #212
@carjug This is ready for review.  Notes in [this section](https://docs.google.com/document/d/1-sC6CKvfy-M8Gx77HWGyCZmmO8ilUTgCyz1yeau1lu0/edit#heading=h.ibzof3dyowqz) of the Database Migration Notes.

[2021-11-05 22:07] carjug commented on #212
LGTM, Amy!
Thank you

[2021-11-12 19:57] #204 closed

[2021-11-12 19:58] #205 closed

[2021-11-12 19:59] amymok opened #216 "Prepare conversation with current vendor about data migration"
### Goals
* Let current vendor know about the potential work coming to do data migration to prepare them for the work

### Tasks
- [ ] Update [Things to verify and set up with vendor notes](https://docs.google.com/document/d/1-sC6CKvfy-M8Gx77HWGyCZmmO8ilUTgCyz1yeau1lu0/edit#heading=h.6xogi5s8wg3u) based on learning from #214
- [ ] Discuss with OPRE on the path forward

### Additional Context
* #21

[2021-11-29 16:57] juliaklindpaintner opened #219 "Wireframes for CAN with project/budget line"
Begin next design iteration including project/budget line detail

- [ ] Review previous research around needs for this
- [ ] Understand/articulate requirements with PM
- [ ] Initial sketches
- [ ] Review with team
- [ ] Refine
- [ ] Share with OPRE

[2021-11-29 17:33] ninamak opened #220 "Create research summary"
Create a summary of our user and stakeholder research activities thus far to make it easier for new folks (internal or external) to understand what research has been done and where to find notes and syntheses.

To do:
* Create a list of each research activity/phase and key info
* Consolidate relevant notes (into one doc or split in a sensible way)

[2021-11-29 17:40] ninamak opened #221 "Compile user feedback by module/topic"
Break out user feedback by the module/topic it pertains to so that, when a team is focused on building a particular module, it's easier to see at a glance all the relevant feedback we've collected without having to dig back through a pile of raw notes.  This will help ensure that valuable feedback isn't lost and research efforts aren't unnecessarily repeated.

To do:
* Decompose raw notes (consoli

[2021-11-29 17:49] ninamak opened #222 "Update user personas"
Update the [user personas](https://docs.google.com/presentation/d/1JkG6wlLBXInzsYTXjdPaNP3yn-XPHnRj5MloMwKb6lk/edit#slide=id.gd0fe4870b7_0_53) to ensure we've captured all the relevant roles for OPS and make it easier for new team members (internal and external) to understand the people who need to use this system.

To do:
* Consolidate role/responsibility descriptions from user interviews (using

[2021-11-29 17:55] ninamak opened #223 "Make sure onboarding doc is ready to be used"
To help us prepare for new teammates, review our [onboarding doc](https://docs.google.com/document/d/1dTe12ZsUzAHjrXwCehRdckPMOnPe66S-kHDLT6Hu3ik/edit) and clean up / update as needed.

[2021-11-29 17:58] ninamak opened #224 "Update roadmap"
Create/update the roadmap so that it appropriately represents how we envision chunking out the work and clearly communicates any roadmap-related decisions that have been made and what is still TBD.

[2021-11-29 18:00] ninamak opened #225 "Wrap up Contracts Module mural"

[2021-11-29 18:32] amymok opened #226 "Create an instruction sheet to do database migration"
### Goals
* Create an instruction sheet that is easy for another engineer to perform database migration

### Tasks
- [ ] Review and pull out relevant information/instructions from [Database Migration Notes](https://docs.google.com/document/d/1-sC6CKvfy-M8Gx77HWGyCZmmO8ilUTgCyz1yeau1lu0/edit#heading=h.7pg4e9cnshrl)
- [ ] Add additional instructions to complete the instruction sheet

### Additional

[2021-11-29 18:38] juliaklindpaintner opened #227 "Synthesize user research on CANs"
- [ ] Review notes from user research sessions
- [ ] Write up overall takeaways from user research sessions
- [ ] Articulate how we'll use what we learned going forward (both how the research went and what we learned)

[2021-11-29 19:30] ninamak opened #228 "Create CANs Module mural"
Create a mural (like the Contracts Module mural) to synthesize everything we've discovered and decided upon related to CANs, as well as open questions.

[2021-11-29 19:33] ninamak opened #229 "Create Projects Module mural"
Create a deliverable that summarizes what we've discovered and decided upon related to Projects, as well as open questions we still have.  Mural has been used for other modules.

[2021-11-29 19:45] ninamak opened #230 "Finalize metrics with Sheila"
Complete the work started around measures of success (see [here](https://docs.google.com/document/d/1e5h2M7n2fDhxjawVAlvXgGQypVLnaMKu0-Z42m5sUYg/edit#heading=h.4i3iiwjf4l23) in the Product Brief)

[2021-12-03 19:11] amymok commented on #214
@carjug This is ready for review: https://docs.google.com/document/d/1-sC6CKvfy-M8Gx77HWGyCZmmO8ilUTgCyz1yeau1lu0/edit#heading=h.me7xmgoql8s3

[2021-12-13 18:11] ninamak commented on #220
2 artifacts produced that fully capture all our user research activities to date:
- [User research activities summary](https://docs.google.com/spreadsheets/d/1KhHCqwRWLmhrwcYejE5_aLrutiPc1LuYCk598Vw71jE/edit#gid=644186256)
- [User research notes consolidated](https://docs.google.com/document/d/1Zh68NMirQBvmZNvszfoHxYHGngH6IhqjBofErJcqNSA/edit#)

[2021-12-13 20:41] ninamak commented on #223
@juliaklindpaintner After your pass, I updated the Project History section and the links.  Is there anything else, or is this ready to close out once you've had a chance to review?

[2021-12-14 01:59] juliaklindpaintner commented on #223
Thanks @ninamak! There are some outstanding comments, but I looked through your edits (thank you!) and I think we can close this.

[2021-12-14 01:59] #223 closed

[2022-05-11 15:41] mgwalker opened #269 "Switch to gunicorn or other runtime option for prototype"
### Goals
* Run the prototype in a way that is compatible with best practices, so it will be more valuable to future team members
* Resolve the minor debt introduced in #268

### Tasks
- [ ] Investigate alternatives for running Django apps in production, and pick one
- [ ] Update the deployment environment to use the thing chosen in the previous step

### Additional Context

The `--insecure` flag

[2022-06-22 15:50] tdonaworth commented on #186
Where notes on this ever recorded @alexsoble ?

[2022-06-27 15:13] #191 closed

[2022-06-27 15:13] #193 closed

[2022-06-27 15:13] #198 closed

[2022-06-27 15:13] #199 closed

[2022-06-27 15:13] #206 closed, assigned to juliaklindpaintner

[2022-06-27 15:13] #208 closed

[2022-06-27 15:13] #210 closed

[2022-06-27 15:13] #211 closed

[2022-06-27 15:13] #212 closed, assigned to amymok

[2022-06-27 15:13] #214 closed

[2022-06-27 15:13] #219 closed

[2022-06-27 15:13] #221 closed

[2022-06-27 15:13] #224 closed

[2022-06-27 15:14] #225 closed

[2022-06-27 15:14] #226 closed

[2022-06-27 15:14] #228 closed

[2022-06-27 15:14] #230 closed

[2022-06-27 15:14] #269 closed

[2022-06-27 15:14] #76 closed

[2022-06-27 15:14] #87 closed

[2022-06-27 15:14] #94 closed

[2022-06-27 15:14] #98 closed

[2022-06-27 15:14] #99 closed

[2022-06-27 15:14] #107 closed

[2022-06-27 15:14] #112 closed

[2022-06-27 15:14] #115 closed

[2022-06-27 15:14] #116 closed

[2022-06-27 15:14] #119 closed

[2022-06-27 15:14] #157 closed

[2022-06-27 15:14] #159 closed

[2022-06-27 15:14] #162 closed

[2022-06-27 15:14] #164 closed

[2022-06-27 15:14] #168 closed

[2022-06-27 15:14] #170 closed

[2022-06-27 15:14] #177 closed

[2022-06-27 15:14] #180 closed

[2022-06-27 15:14] #184 closed

[2022-06-27 15:14] #185 closed

[2022-06-27 15:14] #186 closed

[2022-06-27 15:14] #188 closed

[2022-06-27 15:14] #2 closed

[2022-06-27 15:14] #5 closed

[2022-06-27 15:14] #6 closed

[2022-06-27 15:14] #19 closed

[2022-06-27 15:14] #39 closed

[2022-06-27 15:14] #74 closed

[2022-06-27 15:18] stvnrlly opened #284 "Complete CAN wireframe user research"
### Goals
[Research plan](https://docs.google.com/document/d/1RrPyT2OUeWQzbxtbGbzQFc4jKU5EEV0irCwRVreAdFY/edit?pli=1#heading=h.i1qdr162pygc)

### Tasks
- [x] Transfer documents from 18F to Flexion
- [x] Complete user feedback sessions
- [x] Synthesize findings

### Additional Context
This research will inform future iterations of the CANs wireframes. What we learn from users will be directly trans

[2022-06-27 15:25] stvnrlly opened #285 "Brief Flexion on OCIO's data migration work"
### Goals
* Get Flexion up to speed on what/why/how the MAPS database is being replicated

### Tasks
- [x] 18F gives Flexion the scoop
- [x] Attend Wednesday's OCIO meeting about this very thing

### Resources
* Relevant [wiki pages](https://github.com/HHS/OPRE-OPS/wiki/08-Technical-documents)

[2022-06-27 15:27] stvnrlly opened #286 "Share more information about MAPS database structure"
### Goals
* Provide ERD information in more ways, for ease of use

### Tasks
- [x] 18F shares HTML files with Flexion

[2022-06-27 15:29] stvnrlly opened #287 "Get Flexion access to GitHub repository"
### Goals
* Being able to do things

### Tasks
- [x] Access for Tim
- [x] Access for Jonathan
- [x] Access for Kim
- [x] Access for Peter

[2022-06-27 15:30] stvnrlly opened #288 "Remove 18F access to GitHub repository"
### Goals
* Fading away gracefully
* Free up license space

### Tasks
- [x] Remove @jskinne3.
- [x] Remove @juliaklindpaintner

[2022-06-27 16:51] stvnrlly opened #289 "Set-up a Work Tracking Board"
### Goals
- Have a work tracking board that works for both OPRE and Flexion.

### Tasks
- [x] Send Domenic a request to set it up
- [x] Domenic sets it up?
- [x] Flexion tries GH Projects
- [x] Add ZenHub to the mix
- [x] Flexion customizes it
- [x] Might require #297 to be completed first?

### Context
- Possible options are...
  - The classic GitHub Project interface.
  - The [new beta GitHub Pr

[2022-06-27 16:55] stvnrlly commented on #289
@DomenicCaruano I think you might be the right person to ask about the beta GitHub Projects. It looks like only an admin can create one. Would it be okay to request one of those on here, or would you prefer it to go through email?

[2022-06-27 19:18] stvnrlly opened #290 "OpEx: Get cloud.gov IAA drafted and signed"
### Goals
* Be engaged in a procurement process with cloud.gov.

### Tasks
- [x] Hold discussions with cloud.gov staff and relevant staff from ACF OCIO
- [x] Acquire IAA particulars
- [x] Complete cloud.gov survey form
- [x] Acquire execution on IAA with cloud.gov

### Additional Context
* Sheila and Amare to lead this
* dependent on #300 to the extent that cloud.gov continues to be the path forwa

[2022-06-27 19:21] stvnrlly opened #291 "Introduce Flexion and Global Tunnels"

[2022-06-27 19:24] stvnrlly commented on #285
Tim, Peter, and Jonathan will share this responsibility depending on availability

[2022-06-27 19:32] stvnrlly opened #292 "Discuss & update OPS roadmap/strategy"
- [x] Review and update product strategy @kimschulke @jonnalley
- [x] Review and update technical strategy @halprin
  - [x] Create the initial document.
- [ ] Discuss and handoff to OPRE Tech Lead

[2022-06-27 19:32] stvnrlly opened #293 "Discuss & update OPS technical strategy"
### Goals
* _What outcome(s) we are hoping to accomplish_

### Tasks
- [ ] _Key pieces of work that will need to be done to accomplish our goal(s)_

### Additional Context
* _Any additional information that would be useful to share about this work (e.g., dependencies, constraints, previous work that's been done, info already known, etc)_

### Resources
* _Links to useful related info (e.g., articl

[2022-06-28 14:24] tdonaworth opened #294 "Discuss GitHub Repo "Settings" with OCIO Team"
### Goals
* Ensure proper Branch Protections, Repo Settings, etc are configured correctly. In addition, if any additional GitHub Policy / Teams need to be created to modify edit GH Secrets or Actions

### Tasks
- [x] Schedule a meeting with Domenic Caruano to discuss Repo Settings

### Additional Context
* Discuss with Domenic Caruano (Domenic.Caruano@hhs.gov) about the

[2022-07-01 15:34] kimschulke commented on #284
Two remaining interviews scheduled for July 5 at 10am and 10:30am est

[2022-07-01 16:38] halprin commented on #287
This has been completed.

[2022-07-01 16:38] #287 closed

[2022-07-01 16:47] halprin opened #297 "Add Flexion to HHS GitHub Organization and Teams"
### Goals
- Give Flexion access to the repository (and other related repositories) in a sustainable manner.

### Tasks
- [x] Add Flexion to the [HHS organization](https://github.com/HHS).
  - [x] @tdonaworth
  - [x] @jonnalley
  - [x] @halprin
  - [x] @kimschulke
- [x] Create an "OPRE Ops" team and add Flexion to it.
  - [x] @tdonaworth
  - [x] @jonnalley
  - [x] @halprin
  - [x] @kimschulke
- [x]

[2022-07-05 14:24] jonnalley commented on #291
Sheila mentioned this this morning and is still owning this

[2022-07-05 14:27] jonnalley commented on #297
@halprin On a related note, Sheila advised that us having access to the MAPS repo would require #291 occurring first as well as supplementary conversation to determine whether or not the access is warranted.

[2022-07-07 20:45] jonnalley commented on #291
Sheila intends to have at least some GlobalTunnels stakeholders at the 7/14 meeting

[2022-07-07 21:24] jonnalley commented on #286
uploaded to wiki

[2022-07-07 21:24] #286 closed

[2022-07-08 17:26] kimschulke commented on #284
Here is the Mural board which shows synthesis of our interview notes across all 6 users and a summary of findings to inform future iterations of the CANs wireframes

https://app.mural.co/t/flexion6734/m/flexion6734/1656610435704/a74bab9335d057719abcb79e67e0a4bca7fb2cc1?sender=kschulke5503